$general-header-font-size: 2em;
$general-description-font-size: 0.9em;
$line-height: 150%;

%section-pseudo-element {
    content: '';
    position: absolute;
    top: 50%;

    width: 25px;
    height: 2px;
}
 
%section-header {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    width: max-content;
    height: max-content;
    
    position: relative;
    margin: 2rem 0;
    
    font-size: $general-header-font-size;
    line-height: $line-height;
    border-style: none;

    &::before {
        @extend %section-pseudo-element;
        left: 0;
        transform: translate(-150%, -50%);
    }

    &::after {
        @extend %section-pseudo-element;
        right: 0;
        transform: translate(150%, -50%);
    }
}

@include headerMediaQuery(600px, $general-header-font-size + 1em);
@include headerMediaQuery(800px, $general-header-font-size + 1.5em);
@include headerMediaQuery(1000px, $general-header-font-size + 2em);


%section-description {
    box-sizing: border-box;
    max-width: 1000px;
    width: 98%;
    height: max-content;

    font-size: $general-description-font-size;
    line-height: $line-height;

    padding: 0 0.25rem;
    margin: 0;
    overflow-wrap: break-word;
    text-align: center;
}

@include pageDescriptionMediaQuery(600px, $general-description-font-size + 0.15em);
@include pageDescriptionMediaQuery(800px, $general-description-font-size + 0.3em);
@include pageDescriptionMediaQuery(1000px, $general-description-font-size + 0.5em);
