@import './modules/colors';
@import './modules/typography';
@import './modules/fonts';
@import './modules/general';
@import './modules/mediaQuery';
@import './partials/containers';
@import './partials/header';


//style about me section
$about-bg: $accent;
$content-bg: $accent;

$about-fg: $darkest;
$about-header-fg: $darkest;
$about-header-font-family: $header-font-family;

$about-description-fg: $darkest;
$about-description-font-family: $secondary-font-family;
$about-description-first-letter-color: $darkest;
$about-description-highlight:#32C8EB;


%section-setup {
    box-sizing: border-box;
    max-width: 100%;
    min-height: max-content;
    width: 100%;
    height: max-content;
 
    margin: 0;
    padding: 0;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

#about-me-section {
    @extend %section-setup;

    color: $about-fg;
    background: $about-bg;

}

.about-me-container {
    @extend %subsection-container;
    

    background: $content-bg;
    
    #about-me-header {
        color: $about-header-fg;
        font-family: $about-header-font-family;
        line-height: $line-height;
    
        &::before, &::after {
            background-color: $about-header-fg;
        }
    }
    
    .section-description {
        margin: 0 0 1rem 0;

        .highlight {
            padding: 2px 0;
            //background: $about-description-highlight;
            color: $about-description-highlight;
            box-shadow: 2px 0 0 rgba(0, 0, 0, 0.1), -2px 0 0 rgba(0, 0, 0, 0.1);            
            background: rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            font-weight: $secondary-heavy;
            text-shadow: 1px 1px 3px $darkest;            
        }
    }
    
    .section-description {
        color: $about-description-fg;
        font-family: $about-description-font-family;
        line-height: 160%;
    }
    
    #about-init-description {
        .standout {
            color: $about-description-highlight;
            text-shadow: 1px 1px 2px $darkest;
            
            font-size: 160%;
            font-weight: $secondary-heavy;
        }
    }
    
    #resume-link {
        align-self: flex-end;
    
        margin: 3rem 0 0 0;
        border-radius: 0.25rem;
        background: none;
        
        button {
            @include color($darkest, none, $darkest);
            //font-size: $resume-font-size;
    
            &::before {
                @include color(none, $darkest, none);
            }
    
            &:hover {
                color: $accent;
            }
        }
    }
}

@media only screen and (min-width: 800px) {
    %section-setup {
        height: 100%;
        padding: 3rem 0;
    }
}