@import './modules/colors';
@import './modules/fonts';
@import './modules/general';
@import './partials/button';

$header-size: 3.25em; 
$subheader-size: 1.35em; 
$contact-legend-font-size: 1.4em;
$input-placeholder-size: 1.2em;

$form-max-width: 550px;
$social-icon-size: 60px;

//$field-select-outline: $accent;
$field-fg: $lightest;
$field-bg: $dark-main;
$field-border: $lightest;
$field-placeholder-fg: $accent;


$field-focus-fg: $darkest;
$field-focus-bg: $accent;


$contact-fieldset-border: $lightest;
$contact-legend-bg: $accent;
$contact-legend-fg: $darkest;

$contact-submit-bg: inherit;
$contact-submit-fg: $lightest;
$contact-submit-border: $accent;
$contact-submit-hover-fg: $darkest;
$contact-submit-hover-bg: $accent;

.form-container {
    box-sizing: border-box;
    max-width: $form-max-width;
    min-height: max-content;
    width: 90%;
    height: max-content;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 2rem 0;

    fieldset, legend {
        border-radius: 0.25rem;
    }

    fieldset {
        border-color: $contact-fieldset-border;
    }
    
    legend {
        font-size: $contact-legend-font-size;
        background: $contact-legend-bg;
        color: $contact-legend-fg;
        text-align: left;
        padding: 0.25rem 0.5rem;
    }

    .contact-inputfield, #contact-message {
        @include color($field-fg, $field-bg, $field-border);

        box-sizing: border-box;
        width: 100%;
        
        border-width: 1px;
        border-style: solid;
        
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        
        
        &::placeholder {
            font-size: $input-placeholder-size;
            color: $field-placeholder-fg;
        }
        
        &:focus {
            @include color($field-focus-fg, $field-focus-bg, $field-border);

            &::placeholder {
                color: $darkest;
            }
        }
    }

    #contact-message {
        min-height: 150px;
        resize: none;
    }

    #contact-submit {
        @include color($contact-submit-fg, $contact-submit-bg, $contact-submit-border);

        align-self: flex-end;
        margin-top: 0.5rem;
        transition: all 0.4s;

        &:hover {
            @include color($contact-submit-hover-fg, $contact-submit-hover-bg, $contact-submit-border);
        }
    }
}