@import './modules/colors';
@import './modules/typography';
@import './modules/general';
@import './modules/mediaQuery';

$contact-legend-font-size: 1.1em;
$input-font-size: 0.8em;
$contact-msg-min-height: 100px;

$form-max-width: 520px;

$field-fg: $lightest;
$field-bg: $darkest;
$field-border: $accent;
$field-placeholder-fg: $lightest;


$field-focus-fg: $accent;
$field-focus-bg: $darkest;


$contact-fieldset-border: $accent;
$contact-fieldset-bg: $dark-main;
$contact-legend-bg: $accent;
$contact-legend-fg: $darkest;

$contact-submit-bg: inherit;
$contact-submit-fg: $lightest;
$contact-submit-border: $accent;
$contact-submit-hover-fg: $darkest;
$contact-submit-hover-bg: $accent;

.form-container {
    box-sizing: border-box;
    max-width: $form-max-width;
    min-height: max-content;
    width: 90%;
    height: max-content;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 2rem 0;
    transition: all 0.5s;

    fieldset, legend {
        border-radius: 0.25rem;
    }

    fieldset {
        box-sizing: border-box;
        height: max-content;

        border-color: $contact-fieldset-border;
        background: $contact-fieldset-bg;
    }
    
    legend {
        font-size: $contact-legend-font-size;
        font-family: $header-font-family;
        font-weight: $header-normal;

        background: $contact-legend-bg;
        color: $contact-legend-fg;
        text-align: left;
        padding: 0.1rem 0.5rem;
    }

    .input-container {
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;

        z-index: 0;
        margin: 0.5rem 0;
    }

    .input-placeholder {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 1rem;
        transform-origin: left center;
        transform: translateY(-50%);

        font-size: $input-font-size;
        font-family: $secondary-font-family;
        font-weight: $secondary-normal;

        cursor: text;
        
        z-index: -1;
        color: $lightest;
        transition: all 0.5s;
    }

    .contact-inputfield {
        @include color($field-fg, $field-bg, $field-border);

        box-sizing: border-box;
        width: 100%;
        z-index: 1;
        font-size: $input-font-size;
        font-family: $secondary-font-family;
        font-weight: $secondary-normal;
        border-width: 1px;
        border-style: solid;
        outline: none;
        
        margin: 0.5rem 0;
        padding: 0.6rem 1rem;
        border-radius: 0.25rem;
        background: none;
        
        &:focus {
            @include color($field-focus-fg, $field-focus-bg, $field-border);
            background: none;
        }

        &:focus:not([value='']):invalid {
            border-color: red;
        }
        
        &:focus, &:not([value='']) {
            + .input-placeholder {
                transform: scale(0.60, 0.60) translateY(-50%);
                top: -0.25rem;
                left: 0rem;
            }
        }
    }

    #contact-message {
        min-height: $contact-msg-min-height;
        
        resize: none;
        border-color: $accent;

        &:not(:focus), [value=''] {
            + .input-placeholder {
                transform: scale(1, 1) translate( 1rem, 100%);
                top: 0rem;
                left: 0rem;
            }
        }

        &:focus, &:valid {
            + .input-placeholder {
                transform: scale(0.60, 0.60) translateY(-50%);
                top: -0.25rem;
                left: 0rem;
            }

            
        }
    }

    #contact-submit {
        @include color($contact-submit-fg, $contact-submit-bg, $contact-submit-border);

        align-self: flex-end;
        margin-top: 0.5rem;
        transition: all 0.4s;

        &:hover {
            @include color($contact-submit-hover-fg, $contact-submit-hover-bg, $contact-submit-border);
        }
    }
}

$px450: (
    legend-size: $contact-legend-font-size + 0.25em,
    input-size: $input-font-size + 0.1em,
    msg-min-height: $contact-msg-min-height,
);

$px600: (
    legend-size: $contact-legend-font-size + 0.5em,
    input-size: $input-font-size + 0.125em,
    msg-min-height: $contact-msg-min-height + 20px,
);

$px800: (
    legend-size: $contact-legend-font-size + 0.6em,
    input-size: $input-font-size + 0.15em,
    msg-min-height: $contact-msg-min-height + 20px,
);

$px1000: (
    legend-size: $contact-legend-font-size + 0.6em,
    input-size: $input-font-size + 0.175em,
    msg-min-height: $contact-msg-min-height + 20px,
);

@include contactFormMediaQuery(450px, $px450);
@include contactFormMediaQuery(600px, $px600);
@include contactFormMediaQuery(800px, $px800);
@include contactFormMediaQuery(1000px, $px1000);