.distort-text-container {
    box-sizing: border-box;
    display: inline-block;

    max-width: 100%;
    width: max-content;
    height: max-content;

    margin: 0;
    padding: 0;

    overflow-wrap: break-word;
}