@keyframes distort-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.distort-text-container {
    box-sizing: border-box;
    display: inline-block;

    max-width: 100%;
    width: max-content;
    height: max-content;

    margin: 0;
    padding: 0;

    overflow-wrap: break-word;

    animation-name: distort-fade-in;
    animation-duration: 1.5s;
    animation-delay: 1.4s;
}