@import './modules/colors';
@import './modules/typography';
@import './modules/fonts';
@import './modules/mediaQuery';  
@import './partials/containers';
@import './partials/button';

$experiments-bg: $darkest;
$experiments-header-fg: $accent;
$experiments-header-font-family: $header-font-family;

$experiments-description-fg: $lightest;
$experiments-description-font-family: $secondary-font-family;

$experiment-container-border: $darkest;
$experiment-description-fg: $accent-dark;
$experiment-description-font-size: 1.1em;
$experiment-container-bg: $darkest;
$experiment-description-border: $accent;
$experiment-shadow: $accent-dark;

#experiments-container {
    @extend %section-container;
    justify-content: space-between;

    background: $experiments-bg;
}

#experiments-header-container {
    box-sizing: border-box;
    max-width: 100%;
    width: max-content;
    height: max-content;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#experiments-header {
    margin: 2rem 0;
    padding: 0;
    color: $experiments-header-fg;
    font-family: $experiments-header-font-family;
    line-height: $line-height;

    &::before, &::after {
        background: $experiments-header-fg;
    }
}

#experiments-page-desc {
    color: $experiments-description-fg;
    font-family: $experiments-description-font-family;
    line-height: $line-height;
}

#all-experiments {
    box-sizing: border-box;
    margin: 2rem 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 1 auto;
}

.single-experiment-container {
    box-sizing: border-box;
    max-width: 225px;
    width: max-content;
    height: 300px;

    padding: 0.5rem 0.75rem;
    margin: 0.5rem 0.5rem;
    border-radius: 0.5rem 0.5rem 0.25rem 0.5rem;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    border-style: solid;
    border-width: 1px;
    border-color: $experiment-container-border;

    background: $experiment-container-bg;
    box-shadow: 1px 1px 5px $experiment-shadow;
    opacity: 0.8;

    transition: all 0.5s;

    .experiment-video {
        max-width: 100%;
        width: 100%;
        height: auto;
        border-radius: 0.5rem;
    }

    .experiment-description {
        box-sizing: border-box;
        display: inline-block;
        width: 90%;
        height: max-content;
    
        font-size: $experiment-description-font-size;
        font-weight: bold;
        text-align: center;
        overflow-wrap: break-word;
    
        border-style: solid none none none;
        border-width: 1px;
        border-color: $experiment-description-border;
        color: $experiment-description-fg;
    }
}

$px600: (
    container-max-width: 300px,
    container-height: 400px,
    description-size: $experiment-description-font-size + 0.25em,
);

@include experimentsMediaQuery(600px, $px600);

