@import './modules/colors';
@import './modules/fonts';
@import './modules/mediaQuery';
@import './modules/general';
@import './partials/containers';

$home-text-fg: $darkest;
$home-text-bg: $light-main;
$home-text-effect-fg: $darkest;
$vertical-pointer-bg: $darkest;

$name-font-size: $home-name-font;
$name-line-height: $home-name-font-line-height;

$effect-font-size: $home-title-font;
$effect-line-height: $medium-font-line-height;

$about-btn-bg: $darkest;
$about-btn-fg: $light-main;
$about-btn-border: $darkest;
$about-btn-hover-bg: $light-mid;
$about-btn-hover-fg: $darkest;

$resume-fg: $light-main;
$resume-bg: $darkest;
$resume-hover-fg: $darkest;
$resume-hover-bg: $light-main;
$resume-border: $darkest;

#homepage {
    @extend %section-container;
    background: $home-text-bg;
}

@keyframes pointer-move {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.vertical-pointer-container {
    width: 10px;
    height: 150px;
    overflow: hidden;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;


    background: none;
}

.vertical-pointer {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 100%;

    transform: translateY(-100%);
    background: none;

    border-style: none solid none solid;
    border-width: 1px;
    border-color: $vertical-pointer-bg;

    animation-name: pointer-move;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

#home-container {
    box-sizing: border-box;
    max-width: 300px;
    width: 100%;
    min-height: 300px;
    height: max-content;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;

    position: relative;
    padding: 2rem 0;
    color: $home-text-fg;    

    #home-background-img {
        display: inline-block;
        position: absolute;
        max-width: 100%;
        width: max-content;
        height: max-content;

        svg {
            display: block;
            width: 300px;
            height: auto;
        }
    }
}

#home-info-container {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: max-content;

    padding: 2rem 0;
}

.home-info {
    box-sizing: border-box;
    display: block;
    width: max-content;
    height: max-content;
    
    margin: 0;
    padding: 0;
}

span[id='name'] {
    font-size: $name-font-size;
    line-height: $name-line-height;
    font-weight: bold;
}

#homepage-effect {
    padding: 0;
    margin: 0;
    color: $home-text-effect-fg;
    font-size: $effect-font-size;
    font-style: italic;
    line-height: $effect-line-height;
}

#about-me-btn {    
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(25%);

    @include color($about-btn-fg, none, $about-btn-border);

    &::after {
        @include color($about-btn-fg, $about-btn-bg, $about-btn-border);
    }

    &::before {
        @include color($about-btn-hover-fg, $about-btn-hover-bg, $about-btn-border);
    }

    &:hover {
        color: $about-btn-hover-fg;
    }
}

@include homepageMediaQuery(550px, 400px, 1.15);
@include homepageMediaQuery(750px, 450px, 1.3);
@include homepageMediaQuery(1000px, 600px, 1.5);