@import './modules/colors';
@import './modules/mediaQuery';

//GOOEY MENU
@function translationAmount($i, $offset) {
    @return $i * $offset;
}

@mixin itemTransition($duration, $delay) {
    transition: all ease-out $duration $delay, background-color 0.25s;
}

@mixin itemTransform($x, $y, $z, $rotateZ) {
    transform: translate3d($x, $y, $z) rotateZ($rotateZ);
}

//creates the lines that make up the hamburger menu icon
@mixin lineIcon($width, $height) {
    display: inline-block;
    width: $width;
    height: $height;

    padding: 0;
    margin: 0;

    transition: transform 0.5s;
    background: $menu-icon-bg;
}

//main button setup

/*
$menu-btn-size: 45px;
$menu-item-size: 42px;
$menu-item-description-font-size: 1em;

$menu-icon-width: $menu-btn-size * 0.5;
$menu-icon-height: 2px;
$menu-icon-spacing: 4px;
*/

$menu-btn-size: 45px;
$menu-btn-bg: $darkest;
$menu-btn-shadow: light-main;
$menu-icon-bg: $light-main; //color of "hamburger" - menu lines

$menu-icon-hover-bg: $darkest; //hamburger lines
$menu-btn-hover-bg: $light-main;


$menu-icon-width: $menu-btn-size * 0.5;
$menu-icon-height: 2px;
$menu-icon-spacing: 4px;

$total-menu-items: 5;
$menu-item-size: 42px;

$menu-item-duration: 0.5s;
$menu-item-delay: 0.25s; //starting menu item delay
$menu-item-delay-offset: 0.04; //delays this much longer for each additional item
$menu-item-transform-offset: $menu-item-size + 15px; //adds another offset for each additional item
//$menu-item-transform-offset: 15px; //adds another offset for each additional item
$menu-item-bg: $light-main;
$menu-item-hover-bg: $light-mid;

$menu-item-description-font-size: 1em;
$menu-item-text-bg: $light-mid;
$menu-item-text-fg: $darkest;


$menu-items: (
    (
        id: 'home-link',
        text: 'Home'
    ),
    (
        id: 'portfolio-link',
        text: 'Portfolio'
    ),
    (
        id: 'experiments-link',
        text: 'Experiments',
    ),
    (
        id: 'about-me-link',
        text: 'About'
    ),
    (
        id: 'contact-link',
        text: 'Contact'
    )
);

%menuIconLine {
    display: inline-block;

    padding: 0;
    margin: 0;

    transition: transform 0.5s;
    background: $menu-icon-bg;

    &:hover {
        background: $menu-icon-hover-bg;
    }
}

%menu-item {
    display: inline-block;
    border-radius: 50%;

    position: absolute; //if changing the description output, the position can be removed here
    bottom: 0;
    
    cursor: pointer;    
    opacity: 0;
    margin: 0;
    padding: 0;

    background: $menu-item-bg;
    color: $menu-item-text-fg;
}

%menu-item-description {
    box-sizing: border-box;
    display: block;
    width: max-content;
    height: max-content;
    position: relative;
    top: 50%;
    left: -50%;

    //font-size: $menu-item-description-font-size;
    font-weight: bold;
    margin: 0;
    padding: 0;
    opacity: 0;

    background: none;
    transform: translate(-100%, -50%);
    transition: all 0.6s;     
}

#gooey-menu-container {
    display: inline-block;
    width: $menu-btn-size;
    height: $menu-btn-size;
    z-index: 1;

    position: absolute;
    bottom: -$menu-btn-size - 10px;
    right: 0;
    transform: translateX(-20%);
    border-radius: 50%;  
    background: inherit;

    margin: 0;
    padding: 0;
    box-shadow: 1px 2px 4px $light-main;
}

#gooey-menu-container.sticky {
    box-sizing: border-box;
    position: fixed;
    top: 1rem;
    right: 0rem;
    transform: translateX(-50%);
}

#gooey-menu-container:not(.sticky) {
    ~ .menu-item {
        opacity: 1;
        box-shadow: 2px 3px 5px black;
    }

    @for $i from 1 through $total-menu-items {
        ~ ##{ map-get( nth($menu-items, $i), id)} {
            @include itemTransition($menu-item-duration, $menu-item-delay + ( $menu-item-delay-offset * ($i - 1) ) );
            @include itemTransform(0, ($menu-item-transform-offset * $i), 0, 0deg);

            &::after {
                content: map-get( nth($menu-items, $i),  text);
            }
        }
    }
}

.menu-open { //doesn't display checkbox
    opacity: 0;
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 2;

    padding: 0;
    margin: 0;
    cursor: pointer;

    &:hover {
        ~.menu-open-button {
            background-color: $menu-btn-hover-bg;

            .hamburger {
                background: $menu-icon-hover-bg;
            }

            #hamburger1 {
                transform: translate3d(0, -$menu-icon-spacing * 1.35, 0);
            }

            #hamburger3 {
                transform: translate3d(0, $menu-icon-spacing * 1.35, 0);
            }
        }
    }
}

.menu-open-button {
    box-sizing: border-box;
    width: $menu-btn-size;
    height: $menu-btn-size;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
    border-radius: 50%;  

    background: $menu-btn-bg;
    transition: all 0.5s 0.15s, background 0s;

    .hamburger {
        @extend %menuIconLine;
        width: $menu-icon-width;
        height: $menu-icon-height;
    }

    #hamburger1 {
        transform: translate3d(0, -$menu-icon-spacing, 0);
    }

    #hamburger2 {
        transform: translate3d(0, 0, 0);       
    }

    #hamburger3 {
        transform: translate3d(0, $menu-icon-spacing, 0);
    }
}

.menu-open:checked {
    +.menu-open-button {
        //width: $menu-btn-size;
        //height: $menu-btn-size;
        
        transform: rotateZ(135deg);
        //box-shadow: 1px -2px 4px $light-main;
        transition: all 0.5s 0.15s, background 0.25s;
        
        #hamburger1{
            transform: translate3d(0, $menu-icon-height, 0); 
        }

        #hamburger2{
            transform: translate3d(0, 0, 0) rotateZ(90deg);
        }

        #hamburger3{
            transform: translate3d(0, -$menu-icon-height, 0); 
        }
    }

    ~ .menu-item {
        opacity: 1;
        box-shadow: 2px 3px 5px black;
    }

    @for $i from 1 through $total-menu-items {
        ~ ##{ map-get( nth($menu-items, $i), id)} {
            @include itemTransition($menu-item-duration, $menu-item-delay + ( $menu-item-delay-offset * ($i - 1) ) );
            @include itemTransform(0, ($menu-item-transform-offset * $i), 0, 0deg);

            &::after {
                content: map-get( nth($menu-items, $i),  text);
            }
        }
    }

    &:hover {
        +.menu-open-button {
            background: red;
        }

        +.menu-open-button::after {
            box-sizing: border-box;
            display: inline-block;
            width: 150%;
            height: 150%;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.menu-item {
    @extend %menu-item;
    width: $menu-item-size;
    height: $menu-item-size;

    &::before {
        content: '';
        display: inline-block;
        width: 0%;
        height: 1.4rem;
        overflow: hidden;

        position: absolute;
        top: 50%;
        //transform: translate(-130%, -50%);
        transform: translate(0%, 50%);

        opacity: 0;
        font-size: 1.3em;

        transition: all 0.5s;
    }

    &::after {
        content: '';
        display: inline-block;
        width: max-content;
        height: 1.4rem;
        overflow: hidden;

        position: absolute;
        top: 50%;
        transform: translate(-130%, -50%);

        opacity: 0;
        font-size: 1.3em;
        background: none;

        transition: all 0.5s;
    }
    
    .menu-item-description {
        @extend %menu-item-description;
        padding: 0.2rem 0.5rem;
        font-size: $menu-item-description-font-size;
    
        &::before {
            content: '';
            box-sizing: border-box;
            display: inline-block;
            width: 0%;
            height: 100%;
            opacity: 0;
    
            border-radius: 3px;
    
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
    
            background: $menu-item-text-bg;
            transform: translate(-50%, -50%);
            transition: all 0.6s;     
        }
    }

    &:hover {
        background-color: $menu-item-hover-bg;

        .menu-item-description {
            opacity: 1;
        }

        .menu-item-description::before {
            width: 100%;
            opacity: 1;
            transition: width 0.6s; 
        }
    }

    .menu-item-icon {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 45%;
        height: auto;
    }

    transition: all ease-out 0.25s 0s;
}




@include navbarMediaQuery(800px, $menu-btn-size + 5px,
                                 $menu-item-size + 5px,
                                 $menu-item-description-font-size + 0.15em,
                                 $total-menu-items, $menu-items, $menu-item-transform-offset + 10px,
                                 $menu-icon-height, $menu-icon-spacing + 1px);

@include navbarMediaQuery(1000px, $menu-btn-size + 10px,
                                 $menu-item-size + 10px,
                                 $menu-item-description-font-size + 0.3em,
                                 $total-menu-items, $menu-items, $menu-item-transform-offset + 20px,
                                 $menu-icon-height, $menu-icon-spacing + 1px);

//GOOEY MENU