@import './modules/colors';
@import './modules/typography';
@import './modules/general';
@import './modules/mediaQuery';

$container-max-width: 300px;
$container-width: 55%;
$container-height: auto;

$portfolio-bg-stroke: $light-main;
$portfolio-bg-fill: $light-main;
$portfolio-icon-filter: $filter-dark-main;
$portfolio-icon-width: 35%;

$experiments-bg-stroke: $accent;
$experiments-bg-fill: $dark-main;
$experiments-icon-filter: $filter-accent;
$experiments-icon-width: 26%;

$about-bg-stroke: $darkest;
$about-bg-fill: $darkest;
$about-icon-filter: $filter-accent;
$about-icon-width: 25%;

$contact-bg-stroke: $accent;
$contact-bg-fill: $accent;
$contact-icon-filter: $filter-dark-main;
$contact-icon-width: 29%;

$bg-img-stroke-width: 2;

%bg-img {
    display: inline-block;
    width: 100%;
    height: auto; 
    stroke-linecap: round;
    stroke-linejoin: round;
}

.page-icon-container {
    box-sizing: border-box;
    display: inline-block;
    max-width: $container-max-width;
    width: $container-width;
    height: $container-height;

    margin: 0;
    padding: 0;

    position: relative;
    background: none;
    transition: all 0.5s;

    .page-bg-img {
        @extend %bg-img;
    }

    .page-icon {
        box-sizing: border-box;
        display: block;
    
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    
        max-width: 100%;
        max-height: 70%;
        width: max-content;
        height: auto;
        
        background: none;
        transition: all 0.5s;
    }
}


.page-icon-container.portfolio {
    .page-bg-img {
        @include svg-color($portfolio-bg-stroke, $bg-img-stroke-width, $portfolio-bg-fill);
    }
}

.page-icon-container.experiments {
    .page-bg-img {
        @include svg-color($experiments-bg-stroke, $bg-img-stroke-width, $experiments-bg-fill);
    }

    .page-icon {
        max-height: 75%;
    }
}

.page-icon-container.about {
    .page-bg-img {
        @include svg-color($about-bg-stroke, $bg-img-stroke-width, $about-bg-fill);
    }

    .page-icon {
        filter: $filter-accent;
    }
}

.page-icon-container.contact {
    .page-bg-img {
        @include svg-color($contact-bg-stroke, $bg-img-stroke-width, $contact-bg-fill);
    }
}

$px850: (
    container-max-width: 400px,
    
    portfolio-icon-max-height: 65%,

    icon-max-height: 75%,
    icon-translate: (-50%, 0%),

);

@include pageIconMediaQuery(850px, $px850);