@import './modules/colors';
@import './modules/typography';
@import './modules/mediaQuery';

$container-max-width: 300px;
$container-width: 55%;
$container-height: auto;

$portfolio-bg-stroke: $light-main;
$portfolio-bg-fill: $light-main;
$portfolio-icon-filter: $filter-dark-main;
$portfolio-icon-width: 35%;

$experiments-bg-stroke: $accent;
$experiments-bg-fill: $dark-main;
$experiments-icon-filter: $filter-accent;
$experiments-icon-width: 26%;

$about-bg-stroke: $darkest;
$about-bg-fill: $darkest;
$about-icon-filter: $filter-accent;
$about-icon-width: 25%;

$contact-bg-stroke: $accent;
$contact-bg-fill: $accent;
$contact-icon-filter: $filter-dark-main;
$contact-icon-width: 29%;

$bg-img-stroke-width: 2;

%bg-img {
    display: inline-block;
    width: 100%;
    height: auto; 
    stroke-linecap: round;
}


//remove after svg setup is finished
@mixin svg-color($stroke, $stroke-width, $fill) {
    stroke: $stroke;
    stroke-width: $stroke-width;
    fill: $fill;
}

.page-icon-container {
    box-sizing: border-box;
    display: inline-block;
    max-width: $container-max-width;
    width: $container-width;
    height: $container-height;

    margin: 0;
    padding: 0;

    position: relative;
    background: none;

    .page-bg-img {
        @extend %bg-img;
    }
}

.page-icon-container.portfolio {
    .page-bg-img {
        @include svg-color($portfolio-bg-stroke, $bg-img-stroke-width, $portfolio-bg-fill);
    }

    .code-icon {
        @include svg-color(black, 3, $light-darkest);
    }
}

.page-icon-container.experiments {
    .page-bg-img {
        @include svg-color($experiments-bg-stroke, $bg-img-stroke-width, $experiments-bg-fill);
    }

    .flask-icon {
        //@include icon-img($experiments-icon-width, $experiments-icon-filter);
        @include svg-color(black, 3, $dark-main);       
    }

    .flask-icon.measure {
        stroke-width: 1;
    }

    .flask-icon.bottom {
        @include svg-color(black, 3, $accent-highlight2);        
    }

    .flask-icon.bubble {
        @include svg-color($darkest, 0.9, $accent);        
    }
}

.page-icon-container.about {
    .page-bg-img {
        @include svg-color($about-bg-stroke, $bg-img-stroke-width, $about-bg-fill);
    }

    .user-icon {
        @include svg-color(black, 3, $accent);        
        transform: scale(0.75) translate(42%, -1%);
    }
}

.page-icon-container.contact {
    .page-bg-img {
        @include svg-color($contact-bg-stroke, $bg-img-stroke-width, $contact-bg-fill);
    }

    .chat-icon {
        @include svg-color($darkest, 3, none);                
        transform: scale(0.8) translateX(40%);        
    }

    .chat-icon.text {
        stroke-width: 3.5;
    }
}



//general icon setup
.icons {
    stroke-linejoin: round;
    stroke-linecap: round;
    transform: scale(0.8) translateX(38%);    
}


//home icon setup
.home-icon.roof {
    stroke-width: 5;
}

$px850: (
    container-width: 260px,
    container-height: 130px,
);

//@include pageIconMediaQuery(772px, $px850);