@import './modules/colors';
@import './modules/fonts';
@import './modules/general';
@import './partials/containers';

//styling for main page
$portfolio-bg: $dark-mid;
$portfolio-header-fg: $lightest;
$portfolio-subheader-fg: $lightest;

//styling tech links
$portfolio-link-fg: $lightest;
$portfolio-link-hover-fg: $darkest;

//styling for single project
$project-bg: $dark-main;
$project-name-fg: $accent;
$project-tech-fg: $lightest;
$project-tech-bg: $darkest-fade;

$project-header-font-size: 1.8em;
$project-tech-font-size: 1em;

$project-btn-font-size: 1em;
$project-btn-width: 8.5rem;
$project-btn-height: 2.7rem;

$project-btn-fg: $lightest;
$project-btn-bg: inherit;
$project-btn-border: $accent;
$project-btn-hover-fg: $darkest;
$project-btn-hover-bg: $accent;

@mixin portfolio-project-container($background) {
    box-sizing: border-box;
    
    width: 400px;
    height: 300px;

    margin: 1rem;
    padding: 0;

    display: block;

    border-radius: 0.5rem;
    box-shadow: 2px 3px 4px black;

    background: $portfolio-bg;
    background-image: url($background);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.4s;

    #learn-more {
        @include color($project-btn-fg, $project-btn-bg, $project-btn-border);
        font-size: $project-btn-font-size;
        width: $project-btn-width;
        height:$project-btn-height;
    
        transform: translateY(300%);
        transition: all 0.4s;
        
        &:hover {
            color: $project-btn-hover-fg;
            background: $project-btn-hover-bg;

            &::before, &::after {
                background: $project-btn-hover-bg;
            }
        }
    }

    &:hover {
        .portfolio-project-header, #learn-more {
            transform: translateY(0%);
        }

        #learn-more {
            transform: translateY(30%);
        }

        .portfolio-project-hover-info {
            opacity: 0.92;
        }
    }
}

%portfolio-project-hover-info {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 0.25rem;
    margin: 0;
    padding: 0 1rem;

    background: $project-bg;
    transition: all 0.5s;
}

#portfolio-container {
    @extend %section-container;
    position: relative; /*for the modal window when "learn more" is clicked*/

    //display: flex;
    //flex-flow: column nowrap;
    justify-content: space-evenly;
    //align-items: center;

    padding-top: 4rem;

    background: $portfolio-bg;
}

#portfolio-header-container {
    box-sizing: border-box;
    max-width: 100%;
    width: max-content;
    height: max-content;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#portfolio-header {
    color: $portfolio-header-fg;

    &::before, &::after {
        background: $portfolio-header-fg;
    }
}

#portfolio-subheader {
    margin-bottom: 2rem;
    color: $portfolio-subheader-fg;

    .text-highlight {
        color: $portfolio-link-fg; 
        text-decoration-color: $accent;

        &::before {
            background: $accent;
        }

        &:hover {
            color: $portfolio-link-hover-fg;
            
            &::before {
                background: $accent;
            }
        }
    }
}

#portfolio-projects {
    box-sizing: border-box;
    width: 100%;
    height: max-content;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.Roulette {
    @include portfolio-project-container('../backgrounds/projects/roulette.png');
}

.Whisper {
    @include portfolio-project-container('../backgrounds/projects/whisper.png');
}

.Word-Connect {
    @include portfolio-project-container('../backgrounds/projects/word-connect.png');
}

.portfolio-project-hover-info {
    @extend %portfolio-project-hover-info;
    
    .portfolio-project-header {
        box-sizing: border-box;
        display: inline-block;
        width: max-content;
        height: max-content;

        margin: 0;
        padding: 0;
    
        transform: translateY(-200%);
        transition: all 0.5s;
    }
}


.portfolio-project-name, .portfolio-project-tech {
    box-sizing: border-box;
    display: block;

    text-align: center;
    margin: 0;
    padding: 0;
}

.portfolio-project-name {
    font-size: $project-header-font-size;

    margin-bottom: 1rem;
    color: $project-name-fg;
    text-shadow: 1px 1px 3px black;
}

.portfolio-project-tech {
    font-size: $project-tech-font-size;
    color: $project-tech-fg;
    font-weight: normal;
    font-style: italic;
}

@media only screen and (min-width: 850px) {
    .portfolio-project-container {
        width: 600px;
        height: 450px;

        margin: 1rem 2rem;


        #learn-more {
            font-size: $project-btn-font-size * 1.3;
            width: $project-btn-width * 1.25;
            height: $project-btn-height * 1.25;
        }

        &:hover {
            #learn-more {
                transform: translateY(50%);
            }
        }
    }

    
    .portfolio-project-name {
        font-size: $project-header-font-size * 1.45;
        margin-bottom: 1.5rem;
    }

    .portfolio-project-tech {
        font-size: $project-tech-font-size * 1.35;
    }    
}