@import './modules/colors';
@import './modules/typography';
@import './modules/general';
@import './modules/mediaQuery';
@import './partials/containers';

//styling for main page
$portfolio-bg: $dark-main;
$portfolio-header-fg: $light-main;
$portfolio-header-font-size: 1.7em;
$portfolio-header-font-family: $header-font-family;
$portfolio-header-line-height: $line-height;

$portfolio-description-fg: $lightest;
$portfolio-description-font-size: 0.9em;
$portfolio-description-font-family: $secondary-font-family;
$portfolio-description-line-height: $line-height;

//styling tech links
$portfolio-link-fg: $light-main;
$portfolio-link-underline: $light-main;
$portfolio-link-hover-fg: $darkest;
$portfolio-link-hover-bg: $light-main;

//styling for single project
$portfolio-project-width: 300px;
$portfolio-project-height: 225px;

$project-bg: $darkest;
$project-name-fg: $light-main;
$project-tech-fg: $lightest;
$project-tech-bg: $darkest-fade;

$project-header-font-size: 1.6em;
$project-tech-font-size: 0.9em;

$project-btn-font-size: 1em;
//$project-btn-width: 8.5rem;
//$project-btn-height: 2.7rem;

$project-btn-fg: $light-main;
$project-btn-bg: inherit;
$project-btn-border: $light-main;
$project-btn-hover-fg: $darkest;
$project-btn-hover-bg: $light-main;

%portfolio-project-container {
    box-sizing: border-box;
    
    //width: 400px;
    //height: 300px;

    margin: 0.5rem;
    padding: 0;

    display: block;

    border-radius: 0.5rem;
    box-shadow: 2px 3px 4px black;

    background: $portfolio-bg;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0s;

    #learn-more {
        @include color($project-btn-fg, $project-btn-bg, $project-btn-border);
        font-size: $project-btn-font-size;
        //width: $project-btn-width;
        //height:$project-btn-height;
    
        transform: translateY(300%);
        transition: all 0.8, transform 0.5s;

        &::before, &::after {
            background: $project-btn-hover-bg;
        }
        
        &:hover {
            color: $project-btn-hover-fg;
            background: $project-btn-hover-bg;

            &::before, &::after {
                background: $project-btn-hover-bg;
            }
        }
    }

    &:hover {
        .portfolio-project-header, #learn-more {
            transform: translateY(0%);
        }

        #learn-more {
            transform: translateY(30%);
        }

        .portfolio-project-hover-info {
            opacity: 0.92;
        }
    }
}

%portfolio-project-hover-info {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 0.25rem;
    margin: 0;
    padding: 0 1rem;

    background: $project-bg;
    transition: all 0.5s;
}

#portfolio-container {
    @extend %section-container;
    position: relative; /*for the modal window when "learn more" is clicked*/
    justify-content: space-evenly;

    background: $portfolio-bg;
}

#portfolio-header-container {
    box-sizing: border-box;
    max-width: 100%;
    width: max-content;
    height: max-content;

    margin: 0 0 2rem 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.section-header {
    font-family: $portfolio-header-font-family;
    font-size: $portfolio-header-font-size;
    line-height: $portfolio-header-line-height;
    color: $portfolio-header-fg;

    &::before, &::after {
        background: $portfolio-header-fg;
    }
}

.section-description {
    font-family: $portfolio-description-font-family;
    font-size: $portfolio-description-font-size;
    line-height: $portfolio-description-line-height;
    color: $portfolio-description-fg;

    .text-highlight {
        font-size: inherit;
        line-height: inherit;
        color: $portfolio-link-fg; 
        text-decoration-color: $portfolio-link-underline;

        &::before {
            background: $portfolio-link-hover-bg;
        }

        &:hover {
            color: $portfolio-link-hover-fg;
            
            &::before {
                background: $portfolio-link-hover-bg;
            }
        }
    }
}

#portfolio-projects {
    box-sizing: border-box;
    width: 100%;
    height: max-content;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.portfolio-project-container {
    @extend %portfolio-project-container;
    width: $portfolio-project-width;
    height: $portfolio-project-height;
}

.Roulette {
    background-image: url('../backgrounds/projects/roulette.png');    
}

.Whisper {
    background-image: url('../backgrounds/projects/whisper.png');
}

.Word-Connect {
    background-image: url('../backgrounds/projects/word-connect.png');
}

.portfolio-project-hover-info {
    @extend %portfolio-project-hover-info;
    
    .portfolio-project-header {
        box-sizing: border-box;
        display: inline-block;
        max-width: 100%;
        width: max-content;
        height: max-content;
        
        margin: 0;
        padding: 0;
        
        transform: translateY(-200%);
        transition: all 0.5s;
    }
}


.portfolio-project-name, .portfolio-project-tech {
    box-sizing: border-box;
    display: block;
    
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}

.portfolio-project-name {
    font-size: $project-header-font-size;

    margin-bottom: 1rem;
    color: $project-name-fg;
    text-shadow: 1px 1px 3px black;
}

.portfolio-project-tech {
    font-size: $project-tech-font-size;
    color: $project-tech-fg;
    font-weight: normal;
    font-style: italic;
}


$px450: (
    project-width: 400px,
    project-height: 300px,
    project-container-margin: 1rem,
    project-header-size: $project-header-font-size + 0.5em,
    project-tech-size: $project-tech-font-size + 0.25em,
    project-btn-size: $project-btn-font-size + 0.25em,
);

$px650: (
    project-width: 600px,
    project-height: 450px,
    project-container-margin: 1.5rem,
    project-header-size: $project-header-font-size + 1.2em,
    project-tech-size: $project-tech-font-size + 0.5em,
    project-btn-size: $project-btn-font-size + 0.5em,
);

@include portfolioMediaQuery(450px, $px450);
@include portfolioMediaQuery(650px, $px650);