@import './modules/colors';
@import './modules/fonts';

$progressbar-container-max-width: 720px;

$progressbar-width: 55px;
$progressbar-height: 55px; //all sizes controlled by the progressbar height
$progressbar-margin-gap: 0.5rem;
$progressbar-border: $accent;

$progressbar-img-container-width: $progressbar-height;
$progressbar-icon-width: $progressbar-height * 0.8;

//skill section setup
$progressbar-section-desc-font-size: 1.2em;

//tech name setup
$progressbar-name-fg: $dark-main;
$progressbar-name-font-size: 0.75em; //* ($progressbar-height / 70px); 
$progressbar-name-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


%progress-bar-text-setup {
    display: inline-block;
    width: max-content;
    height: max-content;
    text-decoration: none;

    font-style: italic;

    margin: 0;
    padding: 0;

    color: $progressbar-name-fg;
}

.all-progress-bars-container {
    box-sizing: border-box;
    max-width: $progressbar-container-max-width;
    width: 95%;
    height: max-content;

    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.progressbar-section {
    box-sizing: border-box;
    max-width: 100%;
    width: max-content;
    height: max-content;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    margin: 1rem 0;

    .progressbar-section-description {
        width: 80%;
        font-size: $progressbar-section-desc-font-size;
        text-align: center;
        font-style: italic;
    }
}

.progress-bar-wrapper {
    box-sizing: border-box;
    width: $progressbar-width;
    height: $progressbar-height;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    margin: $progressbar-margin-gap 1rem;  
}

.progress-bar-text {
    @extend %progress-bar-text-setup;
    font-size: $progressbar-name-font-size;
}
    

.progress-bar-img-container {
    box-sizing: border-box;
    max-height: 100%;
    min-height: 80%;
    width: $progressbar-img-container-width;
    height: max-content;
    
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background: none;
    overflow: visible;

    .progress-bar-img {
        display: inline-block;
        
        max-width: 100%;
        max-height: $progressbar-icon-width * 0.85;
        width:  $progressbar-icon-width;
        height: auto;

        padding: 0.25rem 0.2rem;
    }
}

/*
@media only screen and (min-width: 550px) {
    .progress-bar-wrapper {
        max-width: $progressbar-max-width + 50px;

        .progress-bar-text {
            font-size: $progressbar-name-font-size + 0.15em;
        }
    }

    .progress-bar-skill-level {
        font-size: $progressbar-name-font-size + 0.15em;
    }

    .progress-text-bar-container {
        height: $progressbar-height + 5px;
    }

    .progress-bar-img-container {
        width: $progressbar-height + 5px;

        .progress-bar-img {
            width: $progressbar-height + 5px;
        }
    }
} 

@media only screen and (min-width: 650px) {
    .progress-bar-wrapper {
        max-width: $progressbar-max-width + 100px;

        .progress-bar-text {
            font-size: $progressbar-name-font-size + 0.3em;
        }
    }

    .progress-bar-skill-level {
        font-size: $progressbar-name-font-size + 0.3em;
    }

    .progress-text-bar-container {
        height: $progressbar-height + 10px;
    }

    .progress-bar-img-container {
        width: $progressbar-height + 10px;

        .progress-bar-img {
            width: $progressbar-height + 10px;
        }
    }
}
*/