@import './modules/colors';
@import './modules/fonts';


$progressbar-container-max-width: 1000px;

$progressbar-max-width: 300px;
$progressbar-height: 45px; //all sizes controlled by the progressbar height
$progressbar-margin-gap: 0.5rem;
$progressbar-bg: $accent;

$progressbar-img-container-width: $progressbar-height;
$progressbar-icon-width: $progressbar-height * 0.9;

//70px was original progressbar-height, this scales based off of that
$progressbar-name-fg: $lightest;
$progressbar-name-font-size: 0.75em; //* ($progressbar-height / 70px); 
$progressbar-name-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

$progressbar-skill-level-fg: $darkest;
$progressbar-skill-level-font-size: $progressbar-name-font-size; //1em * ($progressbar-height / 70px); 

$progressbar-fade: linear-gradient(135deg, $lightest, $light-main);
$progressbar-fade: linear-gradient(-35deg, $light-mid, $light-main);
$progressbar-fade: linear-gradient(-35deg, $light-mid, #8EA6FC);


%progress-bar-text-setup {
    display: inline-block;
    width: max-content;
    height: max-content;
    text-decoration: none;

    font-style: italic;
    font-weight: bold;

    color: $progressbar-name-fg;
}

.all-progress-bars-container {
    box-sizing: border-box;
    //max-width: 500px;
    max-width: $progressbar-container-max-width;
    width: 100%;
    height: max-content;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    //background: red;
}

.progress-bar-wrapper {
    box-sizing: border-box;
    max-width: $progressbar-max-width;
    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    text-decoration: none;
    margin: $progressbar-margin-gap 1rem;  
}

.progress-bar-text {
    @extend %progress-bar-text-setup;
    font-size: $progressbar-name-font-size;
    font-family: $progressbar-name-font-family;
    margin: 0.25rem 0 0 0;
}

.progress-text-bar-container {
    box-sizing: border-box;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    width: 100%;
    height: $progressbar-height;
    overflow: hidden;

    border-radius: 0.5rem;

    margin: 0;
    padding: 0 0.25rem;
    background: $progressbar-bg;
    box-shadow: 2px 2px 4px $dark-main;
}
    

.progress-bar-img-container {
    box-sizing: border-box;
    max-height: 100%;
    min-height: 80%;
    width: $progressbar-img-container-width;
    height: max-content;
    
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    margin-right: 1rem;
    background: none;
    overflow: visible;

    .progress-bar-img {
        //box-sizing: border-box;
        display: inline-block;
        
        max-width: 100%;
        max-height: $progressbar-icon-width * 0.85;
        width:  $progressbar-icon-width;
        height: auto;

        padding: 0.25rem 0.2rem;
    }
}

.progress-bar-container {
    box-sizing: border-box;
    width: 100%;
    height: 60%;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    border-radius: 0.5rem;
    border-style: none;

    background: $dark-main;

    .progress-bar {
        box-sizing: border-box;
        display: inline-block;
        max-width: 100%;
        width: 50%; //width is set in react
        height: 100%;

        position: relative;
    
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        
        border-radius: 0.5rem;
        box-shadow: 1px 1px 2px 1px $darkest inset;
        border-style: none none solid none;
        border-width: 1px;
        border-color: $lightest;
        
        @extend %progress-bar-text-setup;
        color: $progressbar-skill-level-fg;
        background: $progressbar-fade;
    }

    .progress-bar-skill-level {
        position: absolute;
        bottom: 50%;
        right: 0;
        transform: translate(-0.5rem, 50%);

        font-size: $progressbar-skill-level-font-size;
    }
}

@media only screen and (min-width: 550px) {
    .progress-bar-wrapper {
        max-width: $progressbar-max-width + 50px;

        .progress-bar-text {
            font-size: $progressbar-name-font-size + 0.15em;
        }
    }

    .progress-bar-skill-level {
        font-size: $progressbar-name-font-size + 0.15em;
    }

    .progress-text-bar-container {
        height: $progressbar-height + 5px;
    }

    .progress-bar-img-container {
        width: $progressbar-height + 5px;

        .progress-bar-img {
            width: $progressbar-height + 5px;
        }
    }
} 

@media only screen and (min-width: 650px) {
    .progress-bar-wrapper {
        max-width: $progressbar-max-width + 100px;

        .progress-bar-text {
            font-size: $progressbar-name-font-size + 0.3em;
        }
    }

    .progress-bar-skill-level {
        font-size: $progressbar-name-font-size + 0.3em;
    }

    .progress-text-bar-container {
        height: $progressbar-height + 10px;
    }

    .progress-bar-img-container {
        width: $progressbar-height + 10px;

        .progress-bar-img {
            width: $progressbar-height + 10px;
        }
    }
}
//PROGRESS BAR