@import './modules/colors';
@import './modules/fonts';
@import './modules/general';
@import './partials/textEffects';
@import './partials/header';
@import './partials/button';

#view-container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-family: var(--font-family);
}

#sections-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    position: relative;

    display: block;
    margin: 0;
    padding: 0;
}

.effect-container {
    box-sizing: border-box;
    display: inline-block;
    width: max-content; 
    height: max-content;

    margin: 0;
    padding: 0.5rem 2rem;
}


.section-header {
    @extend %section-header;
    transition: all 0.5s;
}

.section-subheader {
    @extend %section-subheader;   
}

.section-description {
    @extend %section-description;
    transition: all 0.5s;
}

.btn {
    @extend %button;
    @include color($lightest, inherit, $accent);
    
    &:hover {
        @include color($darkest, $accent, $accent);
    }
}

.btn.slide-in {
    @extend %button-slide;
    
    @include button-pseudo(true, false);
    &::before {
        
        @include color(initial, $accent, initial);
    }
}

//fall effect
.btn.slide-in.fall {
    //@include button-pseudo(true, false);
    background: none;

    //@include color($light-main, none, $darkest);
    
    &::before {
        //@include color(black, red, $darkest);
        transform-origin: left bottom;
        transform: rotateZ(-180deg);
        transition: transform 1s;
    }

    &:hover {
        //color: $darkest;

        &::before {
            transform: rotateZ(0deg);
            transition: transform 0.5s;
        }
    }
}
//fall effect


/*halved effect*/
.btn.slide-in.halved {
    @include button-pseudo(true, true);
    
    &::before, &::after {
        @include color(initial, $accent, initial);
        height: 50%;
    }

    &::before {
        transform: translateX(-101%);
    }

    &::after {
        @include pos(absolute, 50%, 0, 0, 0);
        transform: translateX(101%);
    }

    &:hover {
        &::before, &::after {
            transform: translateX(0%);
        }
    }
}
/*halved effect*/


/*top-to-bottom effect*/
.btn.slide-in.top-to-bottom {
    @include button-pseudo(true, true);
    
    background: none;
    transition: all 0.5s;

    &::before, &::after {
        @include color(initial, $accent, initial);
    }

    &::before {
        transform: translateY(-101%);
    }

    &::after {
        opacity: 0;
        transform: translateY(101%);

        transition: opacity 0.25s 0.5s;
    }

    &:hover {
        background: none;

        &::before {
            transition: opacity 0.25s 0.5s;                
            transform: translateY(101%);
        }

        &::after {
            opacity: 1;
            transition: opacity 0.25s 0.5s;    
        }
    }
}
/*top-to-bottom effect*/

/*smush-mid effect */
.btn.slide-in.smush-mid {
    @include button-pseudo(true, true);
    
    background: transparent;
    transition: all 0.6s;
    
    &::before, &::after {
        @include color(initial, $accent, initial);    
        transition: transform 0.6s;
    }

    &::before {
        transform: translateX(-101%);
    }

    &::after {
        transform: translateX(101%);
    }

    &:hover {
        &::before, &::after {
            transform: translateX(0%);
        }
    }
}
/*smush-mid effect */


/*middle expand effect*/
.btn.slide-in.mid-expand {
    &::before {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0.0, 0.0);
        transition: all 1s, color 0s;
    }

    &:hover::before {
        transform: translate(-50%, -50%) scale(2.5, 2);
    }
}
/*middle expand effect*/


/*ltr effect*/
.btn.slide-in.ltr {
    transition: all 0.5s;

    &::before {
        transition: transform 0.5s;
        transform: translateX(-101%);
    }

    &:hover {
        background: transparent;

        &::before {
            transform: translateX(0%);
        }
    }
}
/*ltr effect*/

/*ltr-full effect*/
.btn.slide-in.ltr-full {
    @include button-pseudo(true, true);
    background: transparent;  
    transition: all 0.75s;
    
    &::before, &::after {
        @include color(initial, $accent, initial);   
        transition: transform 1s;
        width: 50%;
        //height: 50%;
    }

    &::before {
        transform: translateX(-201%);
    }

    &::after {
        transform: translateX(201%);
    }

    &:hover {
        background: transparent;  

        &::before, &::after {
            width: 50%;
        }

        &::before {
            transform: translateX(201%);
            
        }

        &::after {
            transform: translateX(-201%);
        }
    }
}
/*ltr-full effect*/


.text-highlight {
    @extend %highlight;
    color: $darkest;

    &::before {
        background: $light-main;
    }
}

.text-highlight.mid {
    @extend %highlight-mid;
}

@keyframes top-enter {
    from {
        margin-top: 500%;
    }

    to {
        margin-top: 0px;
    }
}

@keyframes bottom-enter {
    from {
        margin-bottom: 500%;
    }

    to {
        margin-bottom: 0px;
    }
}

.section-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;

    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    background: none;
}

.page-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.page-container.bottom {
    animation-name: bottom-enter;
    animation-duration: 0.8s;
}

.page-container.top {
    animation-name: top-enter;
    animation-duration: 0.8s;
}

.background-layer {
    display: inline-block;
    position: absolute;
    object-fit: fill;
    object-position: center;
    height: 100%;
}

.scrollbar {
    &::-webkit-scrollbar {
        width: 0.75rem;
        background: $darkest;
    }

    &::-webkit-scrollbar-track {
        background: $darkest;
    }
    
    &::-webkit-scrollbar-thumb {
        background: $lightest;
    }
}

.scrollbar.secondary {
    &::-webkit-scrollbar {
        width: 4px;
    }
}

@media only screen and (min-width: 960px) {
    #view-container {    
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
}


