/* 300px - 1000px*/
/* 300px - 1000px*/
/* 300px - 1000px*/
/* 300px - 1000px*/
#contact-me-section, #about-me-section {
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  height: max-content;
  margin: 0;
  padding: 2rem 0;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.main-section-container {
  box-sizing: border-box;
  min-height: max-content;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background: #25282E;
}

#about-me-section {
  color: #d0e1f9;
  background: #2C3037;
}
#about-me-section #about-me-header {
  color: #d0e1f9;
}
#about-me-section #about-me-header::before, #about-me-section #about-me-header::after {
  background-color: #d0e1f9;
}
#about-me-section .section-subheader {
  width: 90%;
  margin-bottom: 2rem;
}
#about-me-section .section-subheader:first-letter {
  color: #8EA6FC;
  font-size: calc(1.3em + (1.9 - 1.3) * ((100vw - 18.75em) / (62.5 - 18.75)));
  font-weight: bold;
}

#contact-me-section {
  padding: 2rem 0 0 0;
  background: #25282E;
}
#contact-me-section #footer-description {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: max-content;
  font-size: 1.15em;
  padding: 0.25rem 0;
  border-style: solid none none none;
  border-width: 2px;
  border-color: #8EA6FC;
  color: #25282E;
  background: #8EA6FC;
}

#contact-social-links {
  box-sizing: border-box;
  min-width: max-content;
  width: 100%;
  height: max-content;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  /*
      #resume-link {
          @include color($resume-fg, $resume-bg, $resume-border);
          position: absolute;
          left: 0.5rem;
  
          &::before, &::after {
              @include color($resume-fg, $resume-bg, $resume-border);
          }
  
          &:hover {
              @include color($resume-hover-fg, $resume-hover-bg, $resume-border);
  
              &::before, &::after {
                  @include color($resume-hover-fg, $resume-hover-bg, $resume-border);
              }
          }
      }
      */
}
#contact-social-links .contact-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 1.5rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  background: none;
  color: none;
  background: none;
  border-color: #d0e1f9;
  transition: all 0.5s;
}
#contact-social-links .contact-link img {
  width: 35px;
  height: auto;
  filter: invert(1);
}
#contact-social-links .contact-link::before, #contact-social-links .contact-link::after {
  color: none;
  background: inherit;
  border-color: none;
}
#contact-social-links .contact-link:hover {
  color: none;
  background: #d0e1f9;
  border-color: none;
}
#contact-social-links .contact-link:hover img {
  filter: invert(0);
}
#contact-social-links .contact-link:hover::before, #contact-social-links .contact-link:hover::after {
  color: none;
  background: #d0e1f9;
  border-color: none;
}
#contact-social-links #dribbble-link img {
  filter: none;
}
#contact-social-links #dribbble-link:hover img {
  filter: none;
}

/*# sourceMappingURL=contactMe.css.map */
