#home-container {
    box-sizing: border-box;
    width: max-content;
    height: max-content;

    display: flex;
    flex-flow: column wrap;
    flex: 0 1 auto;

    padding: 1rem 0;
    
    z-index: 1;
    background-image: url('../backgrounds/z.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}