#home-container {
    box-sizing: border-box;
    max-width: 600px;
    width: 100%;
    min-height: 400px;
    height: max-content;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;

    position: relative;
    padding: 2rem 0;
    
    background-image: url('../backgrounds/z-logo.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;

    color: var(--home-text-fg);
}

.home-info {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: max-content;
    
    margin: 0.5rem 0;
    padding: 0;
}

span[id='name'] {
    font-size: 3em;
    font-weight: bold;
}

#homepage-effect {
    font-size: var(--home-effect-size);
}

#about-me-btn {
    box-sizing: border-box;
    display: inline-block;
    
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 1.2em;
    border-radius: 6px;

    outline: none;
    border-style: solid;
    border-width: 1px;
    border-color: var(--home-about-btn-border);

    background: black;
    background: var(--home-about-btn-bg);
    color: var(--home-about-btn-fg);
}

#about-me-btn:hover {
    border-color: var(--home-about-btn-hover-border);
    background: var(--home-about-btn-hover-bg);
    color: var(--home-about-btn-hover-fg);
}