#layout-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    
    overflow: hidden;
    padding: 0;
    margin: 0;

    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

svg {
    --svg-circle-size: 80;

    box-sizing: border-box;
    position: absolute;
    top: -6rem;
    right: -7rem;
    z-index: 1;

    overflow: visible;

    width: max-content;
    height: max-content;

    margin: 0;
    padding: 0;

}

svg circle {
    box-sizing: border-box;
    r: 150;
    cx: 50%;
    cy: 50%;

    margin: 0;
    padding: 0;

    stroke: black;
    stroke-width: 0px;
    fill: var(--accent-blue);
    opacity: 0.5;
}

.section-container {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;

    padding: 0;
    margin: 0;

    border-style: none none solid none;
    border-width: 1px;
    border-color: white;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background: var(--accent-blue-light);
}

.section-container:nth-child(2n+1) {
    background: var(--accent-white);       
}

@media only screen and (min-width: 1000px) {
    #layout-container {    
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
}