.nav-container {
    width: 90%;
    max-height: 3.5rem;
    height: 3.5rem;
    order: 1;

    margin-top: 0.25rem;
    padding: 0;

    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    
    background: transparent;
}

.nav-display-container {
    width: 100%;
    height: 90%;
    z-index: 0;
    
    position: absolute;
    top: 0;

    transform: skewX(40deg);
    background: #26282A;
    box-shadow: 2px -3px 5px black;
}


.nav-container ul {
    width: 100%;
    height: max-content;

    padding: 0px;
    margin: 0px;
    z-index: 1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    list-style-type: none;   
}

.nav-item {
    width: max-content;
    height: max-content;

    display: inline-block;
    margin: 0;
    padding: 0rem;
    background: transparent;
}

.nav-link-container {
    width: max-content;
    height: max-content;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    margin: 0;
    padding: 0;
    text-decoration-line: none;

    transform: translateY(-1rem);
}

.nav-icon {
    
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    padding: 1rem;

    border-radius: 2rem;
    background: white;
    transition: all 0.4s;
}

.icon-text {
    display: inline-block;
    opacity: 0;
    margin: 0;
    padding: 0;

    font-size: 1.2em;
    font-style: italic;
    color: white;
    transition: all 0.4s;
}

.nav-link-container:hover .nav-icon{
    transform: translateY(-1.1rem);
}
.nav-link-container:hover .icon-text {
    opacity: 1;
}