@keyframes nav-stretch-in {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes nav-slide-down {
    from {
        transform: translateY(-100%) rotateX(-90deg);
    }

    to {
        transform: translateY(0%) rotateX(0deg);
    }
}

.navbar-container {
    --navbar-height: 3rem;
    box-sizing: border-box;
    
    width: 100%;
    min-height: var(--navbar-height);
    height: var(--navbar-height);

    z-index: 2;

    position: absolute;
    bottom: -3rem;

    margin: 0;
    padding: 0 1rem 0 0;
    overflow: hidden;

    border-style: none none solid none;
    border-width: 1px;
    border-color: black;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  
    color: black;
    background: rgba(0, 0, 0, 0.9);    
    background: var(--light-blue);
}

.navbar-container.sticky {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;

    animation-name: nav-slide-down;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.icon-text {
    box-sizing: border-box;
    height: max-content;
    width: max-content;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0rem 1rem;
    padding: 0.1rem 0.5rem;
    
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;

    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 1px 1px 5px black;

    transition: transform 0.25s;
}

.icon-text:hover {
    transform: scale(1.1, 1.1);
}

.icon-text.selected {
    position: relative;

    color: var(--accent-green-two);
}

@keyframes selected-underline-grow {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.icon-text.selected::after {
    content: '';
    display: inline-block;

    width: 100%;

    position: absolute;
    bottom: 0;

    background: none;
    border-style: none none solid none;
    border-width: 1px;
    border-color: var(--accent-green-two);

    animation-name: selected-underline-grow;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
}

.icon-text.desktop-only {
    display: none;
}

.icon-text.mobile-only {
    margin-left: auto;
    margin-right: 0;
}

.navbar-icon {
    box-sizing: border-box;
    width: 2.25rem;
    height: auto;
    
    display: block;
    margin: 0;
    padding: 0.25rem;

    filter: var(--navbar-icon-filter);
}

#menu-img {
    width: 2.6rem;
    filter: var(--filter-blue-light);
}

#menu-img:hover {
    filter: var(--filter-blue-light);
}

@media only screen and (min-width: 900px) {
    .icon-text.desktop-only {
        display: flex;   
    }

    .icon-text.mobile-only {
        display: none;
    }
}