.navbar-container {
    --navbar-height: 3rem;
    --navbar-width: 4.5rem;

    box-sizing: border-box;
    width: 100%;
    min-height: var(--navbar-height);
    height: var(--navbar-height);

    display: block;
    margin: 0;
    padding: 0;

    border-style: none none solid none;
    border-width: 2px;
    border-color: var(--navbar-border);
  
    color: white;
    background-color: var(--navbar-bg);
}

.navbar-container ul {
    box-sizing: border-box;
    height: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    list-style-type: none;
}

.navbar-item {
    box-sizing: border-box;
    width: max-content;
    height: max-content;
    
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
}

.navbar-icon {
    box-sizing: border-box;
    width: 2.25rem;
    height: auto;
    
    display: block;
    margin: 0;
    padding: 0.25rem;

    filter: invert(1);
    transition: opacity 0.4s;
}

.icon-text {
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    font-size: 1em;

    opacity: 0;
    position: absolute;
    top: 3.5rem;
    
    transition: opacity 0.4s;
}

.navbar-item:hover .navbar-icon {
    opacity: 0.1;
}

.navbar-item:hover .icon-text {
    opacity: 1;
}

.navbar-item.selected .navbar-icon {
    filter: invert(0.5) sepia(1) saturate(500%) hue-rotate(150deg);
}


/*landscape view - navbar on left side*/
@media only screen and (min-width: 960px) {
    .navbar-container {
        height: 100%;
        width: var(--navbar-width);
        min-width: var(--navbar-width);

        border-style: none solid none none;
    }

    .navbar-container ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .navbar-item {
        margin: 2rem 0;
    }

    .navbar-icon {
        width: 2.8rem;
    }

    .icon-text {
        top: initial;
        left: var(--navbar-width);

        font-size: 1.25em;
    }
}