#portfolio-container {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background: var(--portfolio-page-bg);
}

#portfolio-auto-effect {
    font-size: var(--portfolio-desc-size);
}