/* 300px - 1000px*/
/* 300px - 1000px*/
/* 300px - 1000px*/
/* 300px - 1000px*/
.progress-bar-container .progress-bar, .progress-bar-text {
  display: inline-block;
  width: max-content;
  height: max-content;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  color: #d0e1f9;
}

.all-progress-bars-container {
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.progress-bar-wrapper {
  box-sizing: border-box;
  max-width: 300px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  margin: 0.5rem 1rem;
}

.progress-bar-text {
  font-size: 0.75em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0.25rem 0 0 0;
}

.progress-text-bar-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  height: 45px;
  overflow: hidden;
  border-radius: 0.5rem;
  margin: 0;
  padding: 0 0.25rem;
  background: #8EA6FC;
  box-shadow: 2px 2px 4px #2C3037;
}

.progress-bar-img-container {
  box-sizing: border-box;
  max-height: 100%;
  min-height: 80%;
  width: 45px;
  height: max-content;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  background: none;
  overflow: visible;
}
.progress-bar-img-container .progress-bar-img {
  display: inline-block;
  max-width: 100%;
  max-height: 34.425px;
  width: 40.5px;
  height: auto;
  padding: 0.25rem 0.2rem;
}

.progress-bar-container {
  box-sizing: border-box;
  width: 100%;
  height: 60%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0.5rem;
  border-style: none;
  background: #2C3037;
}
.progress-bar-container .progress-bar {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 2px 1px #25282E inset;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #d0e1f9;
  color: #25282E;
  background: linear-gradient(-35deg, #B8F0FD, #8EA6FC);
}
.progress-bar-container .progress-bar-skill-level {
  position: absolute;
  bottom: 50%;
  right: 0;
  transform: translate(-0.5rem, 50%);
  font-size: 0.75em;
}

@media only screen and (min-width: 550px) {
  .progress-bar-wrapper {
    max-width: 350px;
  }
  .progress-bar-wrapper .progress-bar-text {
    font-size: 0.9em;
  }

  .progress-bar-skill-level {
    font-size: 0.9em;
  }

  .progress-text-bar-container {
    height: 50px;
  }

  .progress-bar-img-container {
    width: 50px;
  }
  .progress-bar-img-container .progress-bar-img {
    width: 50px;
  }
}
@media only screen and (min-width: 650px) {
  .progress-bar-wrapper {
    max-width: 400px;
  }
  .progress-bar-wrapper .progress-bar-text {
    font-size: 1.05em;
  }

  .progress-bar-skill-level {
    font-size: 1.05em;
  }

  .progress-text-bar-container {
    height: 55px;
  }

  .progress-bar-img-container {
    width: 55px;
  }
  .progress-bar-img-container .progress-bar-img {
    width: 55px;
  }
}

/*# sourceMappingURL=progressbar.css.map */
