#portfolio-fullview-container {
    box-sizing: border-box;
    max-width: 100%;    
    width: max-content;
    height: max-content;
    display: block;

    z-index: 3;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#portfolio-fullview {
    box-sizing: border-box;
    max-width: 100%;
    width: max-content;
    height: max-content;

    padding: 0.25rem 1rem;

    position: relative; /*for close button positioning*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;

    background: white;
}

.project-header {
    width: max-content;
    height: max-content;

    text-align: center;
    margin: 0;
    padding: 0;

    color: black;
}

/*DISPLAY PROJECT IMAGE*/
#project-img-container {
    box-sizing: border-box;
    max-width: 100%;
    width: max-content;
    height: max-content;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex-grow: 0;

    position: relative;
    border-style: none none solid none;
    border-width: 2px;
    border-color: black;

    overflow: hidden;
}

@keyframes img-slide-in {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes img-slide-in-active {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes img-slide-out {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes img-slide-out-active {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes img-zoom-in {
    from {
        transform: scale(0.1, 0.1);
    }

    to {
        transform: scale(1, 1);
    }
}

.project-img {
    display: inline-block;
    max-width: 100%;
    width: 300px;
    height: 225px;

    background: black;
    animation-name: img-zoom-in;
    animation-duration: 0.75s;
}

.project-img.offscreen {
    position: absolute;
}

.project-img.offscreen.forward {
    transform: translateX(100%);
    animation-name: img-slide-out;
    animation-duration: 0.75s;
    animation-direction: reverse;
}

.project-img.offscreen.forward.active {
    transform: translateX(100%);
    animation-name: img-slide-out-active;
    animation-duration: 0.75s;
    animation-direction: reverse;
}

.project-img.offscreen.backward {
    transform: translateX(-100%);
    animation-name: img-slide-in;
    animation-duration: 0.75s;
    animation-direction: reverse;
}

.project-img.offscreen.backward.active {
    transform: translateX(-100%);
    animation-name: img-slide-in-active;
    animation-duration: 0.75s;
    animation-direction: reverse;
}

.project-img.forward {
    animation-name: img-slide-in;
    animation-duration: 0.75s;
}

.project-img.backward {
    animation-name: img-slide-out;
    animation-duration: 0.75s;
}

.project-img-arrow-container {
    display: inline-block;
    width: max-content;
    height: max-content;
}

.project-img-arrow {
    display: inline-block;
    width: 40px;
    height: 40px;

    opacity: 0.45;
    transition: transform 0.5s;
    filter: invert(1);
}

.project-img-arrow:hover {
    transform: scale(1, 1.5);
    opacity: 1;
}

#left-img-arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    
    background: rgba(0, 0, 0, 0.4);
    /*transform: translateX(-25%);*/
}

#right-img-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    background: rgba(0, 0, 0, 0.4);    
    /*transform: translateX(25%);*/
}
/*DISPLAY PROJECT IMAGE*/



/*DISPLAY PROJECT INFO*/

#project-info-container {
    box-sizing: border-box;
    max-width: 100%;
    width: 300px;
    height: max-content;

    margin: 1rem 0 0 0;
    padding: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.project-info {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: max-content;    

    margin: 0;
    padding: 0;
}

.project-info hr {
    border-width: 1px;
    border-style: none none solid none;
    border-color: gray;
}

#project-name-header {
    font-size: 1.5em;
}

#project-type-header {
    font-size: 1.2em;
    font-variant: small-caps;
    font-weight: normal;
    color: gray;
}

.project-description {
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    height: auto;

    padding: 0 0.5rem;

    overflow-wrap: break-word;
    color: black;
}

/*DISPLAY PROJECT INFO*/

#portfolio-fullview-close-btn {
    box-sizing: border-box;
    align-self: flex-end;

    display: inline-block;
    width: max-content;
    height: max-content;

    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1.3em;

    outline: none;
    border-style: none;
    border-radius: 4px;

    color: var(--btn-fg);
    background: var(--btn-bg);

    color: gray;
    background: inherit;
    box-shadow: 1px 2px 3px black;
    transition: none;
}

#portfolio-fullview-close-btn:hover {
    color: var(--btn-hover-fg);
    background: red;
}


@media only screen and (min-width: 500px) {
    .project-img {
        width: 400px;
        height: 300px;
    }

    .project-img-arrow {
        width: 50px;
        height: 45px;
    }

    #project-info-container {
        width: 400px;
    }
}

@media only screen and (min-width: 700px) {
    #portfolio-fullview-container {
        max-width: 750px;
    }

    .project-img {
        width: 600px;
        height: 450px;
    }

    .project-img-arrow {
        width: 60px;
        height: 50px;
    }

    #project-info-container {
        width: 600px;
    }
}