#portfolio-fullview-container {
    box-sizing: border-box;
    max-width: 700px;    
    width: 100%;
    height: max-content;
    display: block;

    z-index: 3;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#portfolio-fullview {
    box-sizing: border-box;
    width: 100%;
    height: max-content;

    position: relative; /*for close button positioning*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    background: linear-gradient(0deg, var(--dark-blue), var(--light-blue) );
}

.project-header {
    width: max-content;
    height: max-content;

    text-align: center;
    margin: 0;
    padding: 0;

    color: white;
}

/*DISPLAY PROJECT IMAGE*/
#project-img-container {
    box-sizing: border-box;
    display: inline-block;

    position: relative;
    border-style: none none solid none;
    border-width: 2px;
    border-color: black;

    overflow: hidden;

    width: max-content;
    height: max-content;
}

@keyframes img-slide-out {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

#project-img {
    display: inline-block;
    max-width: 100%;
    width: 300px;
    height: 300px;

    background: gray;
}

.project-img-arrow-container {
    display: inline-block;
    width: max-content;
    height: max-content;
}

.project-img-arrow-container:active #project-img {
    animation-name: img-slide-out;
    animation-duration: 1s;
}

.project-img-arrow {
    display: inline-block;

    width: 60px;
    height: auto;
    opacity: 0.25;

    transition: all 0.5s;
}

.project-img-arrow:hover {
    transform: scale(1, 1.5);
    opacity: 1;
}

#left-img-arrow {
    position: absolute;
    top: 50%;
    left: 0;

    transform: translateX(-25%);
}

#right-img-arrow {
    position: absolute;
    top: 50%;
    right: 0;

    transform: translateX(25%);
}
/*DISPLAY PROJECT IMAGE*/



/*DISPLAY PROJECT INFO*/

#project-info-container {
    box-sizing: border-box;
    width: 100%;
    height: max-content;

    margin: 1rem 0 0 0;
    padding: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.project-info {
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    width: 300px;
    height: max-content;    

    margin: 0;
    padding: 0;
}

#project-name-header {
    font-size: 1.5em;
}

.project-description {
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    height: auto;

    padding: 0 0.5rem;

    overflow-wrap: break-word;
    color: white;
}

.project-info.tech {

}
/*DISPLAY PROJECT INFO*/

/*
#portfolio-fullview-close-btn {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;

    display: inline-block;
    width: max-content;
    height: max-content;

    margin: 1rem 1rem 0 0;
    padding: 0.5rem 1rem;
    font-size: 1.3em;

    outline: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;

    color: var(--btn-fg);
    background: var(--btn-bg);
    border-color: var(--btn-border);

    transition: background 0.4s;
}
*/

#portfolio-fullview-close-btn {
    box-sizing: border-box;
    align-self: flex-end;

    display: inline-block;
    width: max-content;
    height: max-content;

    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1.3em;

    outline: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;

    color: var(--btn-fg);
    background: var(--btn-bg);
    border-color: var(--btn-border);

    transition: background 0.4s;
}

#portfolio-fullview-close-btn:hover {
    color: var(--btn-hover-fg);
    background: var(--btn-hover-bg);
}

/*
#portfolio-fullview-container {
    box-sizing: border-box;    
    display: block;
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    z-index: 3;

    background: inherit;
}

#portfolio-fullview {
    box-sizing: border-box;
    min-width: 100%;
    min-height: 100%;


    display: grid;
    grid-row-gap: 0.5rem;
    justify-items: center;
    align-content: center;
    grid-template-columns: minmax(auto, 1fr) repeat(3, auto) minmax(auto, 1fr);
    grid-template-rows: 1fr max-content max-content max-content 1fr;
    grid-template-areas: '. . . . close'
                         'title title title title title'
                         'left-arrow selected-img selected-img selected-img right-arrow'
                         '. about about about .'
                         '. tech tech tech .';

    background: gray;
}

.project-header {
    width: max-content;
    height: max-content;

    text-align: center;
    margin: 0;
    padding: 0;
    border-style: none none solid none;
    border-width: 1px;
    border-color: white;

    color: white;
}

.project-info {
    max-width: 100%;
    width: max-content;
    height: max-content;

    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#project-view-header {
    grid-area: title;
    font-size: 3em;
    border-style: none;
}

#project-img-container {
    grid-area: selected-img;
    box-sizing: border-box;
    
    max-width: 100%;
    width: max-content;
    height: max-content;
}

#project-img {
    display: inline-block;
    max-width: 100%;
    width: 550px;
    height: auto;
}

.project-img-arrow-container {
    box-sizing: border-box;
    display: inline-block;

    align-self: center;
    width: max-content;
    height: max-content;

    margin: 0 1rem;
    padding: 0;
}

.project-img-arrow-container:hover {
    filter: invert(1);
}

#left-img-arrow {
    grid-area: left-arrow;
    justify-self: end;
}

#right-img-arrow {
    grid-area: right-arrow;
    justify-self: start;
}

.project-img-arrow {
    display: inline-block;
    width: 50px;
    height: auto;
}

.project-info.about {
    grid-area: about;
}

#project-about-header {
    font-size: 1.5em;
}

#project-view-description {
    max-width: 100%;
    height: auto;
    overflow-wrap: break-word;
    color: white;
}

.project-info.tech {
    grid-area: tech;
}

#project-tech-stack-header {
    font-size: 1.5em;
}

#portfolio-fullview-close-btn {
    box-sizing: border-box;
    grid-area: close;
    align-self: start;
    justify-self: end;
    
    display: inline-block;
    width: max-content;
    height: max-content;

    margin: 1rem 1rem 0 0;
    padding: 0.5rem 1rem;
    font-size: 1.3em;
    font-variant: small-caps;

    outline: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;

    color: var(--btn-fg);
    background: var(--btn-bg);
    border-color: var(--btn-border);

    transition: background 0.4s;
}

#portfolio-fullview-close-btn:hover {
    color: var(--btn-hover-fg);
    background: var(--btn-hover-bg);
}

@media only screen and (max-width: 350px) {
    #project-view-header {
        font-size: 2em;
    }

    .project-img-arrow {
        width: 25px;
    }
}

@media only screen and (min-width: 350px) {
    #project-view-header {
        font-size: 2.5em;
    }

    .project-img-arrow {
        width: 30px;
    }
}

@media only screen and (min-width: 550px) {
    #project-view-header {
        font-size: 3em;
    }

    .project-img-arrow {
        width: 35px;
    }
}

@media only screen and (min-width: 1000px) {
    #project-view-header {
        font-size: 3.5em;
    }

    .project-img-arrow {
        width: 45px;
    }
}
*/