#testing-container {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    height: 100%;

    z-index: 2;

    margin: 0;
    padding: 0;
    background: white;
}

.grid {
    stroke: gray;
    stroke-width: 0.2;
}

.grid.horizontal {
    width: 100%;
}

.grid-vertical {
    height: 100%;
}

.grid-node {
    fill: none;
    stroke-width: 0.5;
    stroke: red; 
    stroke-opacity: 1;
}

.grid-node.small {
    stroke-width: 0.25;
    fill: red;
}

.grid-design {
    fill: none;
    stroke: green;
    stroke-opacity: 0.45;
    stroke-width: 0.8;
}

.grid-design.test {
    stroke: red;
}


.grid-design.final {
    fill: blue;
    stroke: black;
    stroke-width: 0;
}