#view-container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-family: var(--font-family);
}

#sections-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    position: relative;

    display: block;
    margin: 0;
    padding: 0;
}

.effect-container {
    box-sizing: border-box;
    display: inline-block;
    width: max-content; 
    height: max-content;

    margin: 0;
    padding: 0;
}

.section-header {
    display: block;
    
    padding: 0;
    margin: 0;

    position: relative;
    font-size: var(--section-header-size);
    line-height: var(--section-header-line-height);
    
    border-style: none;
    color: var(--section-header-fg);
}

.section-header::after, .section-header::before {
    content: '';
    position: absolute;
    top: 50%;

    width: 40px;
    height: 2px;

    background: black;
}

.section-header::after {
    right: 0;
    transform: translate(140%, -50%);
}

.section-header::before {
    left: 0;
    transform: translate(-140%, -50%);
}

/*
.section-header {
    display: block;
    
    padding: 0;
    margin: 0;

    position: relative;
    font-size: var(--section-header-size);
    line-height: var(--section-header-line-height);
    
    border-style: none;
    color: var(--section-header-fg);
}

.section-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 25%;

    width: 50%;
    height: max-content;

    background: none;
    border-style: none none solid none;
    border-width: 3px;
    border-color: black;
}
*/

.section-subheader {
    box-sizing: border-box;
    max-width: 1000px;
    width: 100%;
    height: max-content;

    padding: 0 0.5rem;
    margin: 0;
    overflow-wrap: break-word;
    text-align: center;
    
    font-size: var(--section-subheader-size);
    line-height: var(--section-subheader-line-height);
}

.btn {
    box-sizing: border-box;
    display: inline-block;

    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1.3em;
    font-variant: small-caps;

    outline: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    cursor: pointer;

    color: var(--btn-fg);
    background: var(--btn-bg);
    border-color: var(--btn-border);

    transition: background 0.4s;
}

.btn:hover {
    color: var(--btn-hover-fg);
    background: var(--btn-hover-bg);
}

.btn.slide-in {
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.btn.slide-in:hover {
    background: initial;
}

.btn.slide-in::before {
    content: '';
    z-index: -1;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: var(--accent-green-two);
    transition: all 0.5s;
}

.btn.slide-in.about-me::before {
    content: 'About me';
    z-index: 1;
    padding-top: 7%;

    transition: all 0.5s;
    transform: translateX(-101%);
}

.btn.slide-in.about-me:hover::before {
    transform: translateX(0%);
}


/*halved effect*/
.btn.slide-in.halved::before {    
    height: 50%;
    transform: translateX(-101%);
}

.btn.slide-in.halved:hover::before, .btn.slide-in.halved:hover::after {    
    transform: translateX(0%);
}

.btn.slide-in.halved::after {    
    content: '';
    z-index: -1;
    
    width: 100%;
    height: 50%;
    opacity: 1;

    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;

    transition: all 0.5s;
    transform: translateX(101%);
    background: var(--accent-green-two);
}
/*halved effect*/

/*top-to-bottom effect*/
.btn.slide-in.top-to-bottom {
    background: transparent;
    background: none;
}

.btn.slide-in.top-to-bottom:hover {
    background: none;
    
}

.btn.slide-in.top-to-bottom::before {
    transform: translateY(-101%);
}

.btn.slide-in.top-to-bottom:hover::before {
    transform: translateY(101%);
}

.btn.slide-in.top-to-bottom::after {
    background: var(--accent-green-two);
    opacity: 0;
    transition: opacity 0.25s 0.5s;
}

.btn.slide-in.top-to-bottom:hover::after {
    content: '';
    z-index: -2;
    opacity: 1;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    transition: opacity 0.25s 0.5s;
}
/*top-to-bottom effect*/

/*smush-mid effect */
.btn.slide-in.smush-mid {
    background: transparent;
    transition: all 0.6s;
}
.btn.slide-in.smush-mid::before {
    transform: translateX(-101%);
    transition: all 0.6s;
}

.btn.slide-in.smush-mid:hover::before {
    transform: translateX(0%);
}

.btn.slide-in.smush-mid::after {
    content: '';
    z-index: -2;
    

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    transform: translateX(101%);
    transition: all 0.6s;
    background: var(--accent-green-two);
}

.btn.slide-in.smush-mid:hover::after {
    transform: translateX(0%);
}
/*smush-mid effect */


/*middle expand effect*/
.btn.slide-in.mid-expand::before {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.0, 0.0);
    transition: all 0.5s, color 0s;
}

.btn.slide-in.mid-expand:hover::before {
    transform: translate(-50%, -50%) scale(2.5, 2);
}
/*middle expand effect*/


/*ltr effect*/
.btn.slide-in.ltr::before {
    transform: translateX(-101%);
}

.btn.slide-in.ltr:hover::before {
    transform: translateX(0%);
}
/*ltr effect*/

/*ltr-full effect*/
.btn.slide-in.ltr-full::before {
    transform: translateX(-101%);
}

.btn.slide-in.ltr-full:hover::before {
    transform: translateX(101%);
}
/*ltr-full effect*/


.text-highlight {
    box-sizing: border-box;
    display: inline-block;
    width: max-content;
    height: auto;
    overflow: hidden;

    position: relative;
    z-index: 0;

    padding: 0 0.25rem;
    margin: 0;
    
    border-style: none;
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--accent-green-two);
    cursor: pointer;
    
    color: black;
    background: transparent;
    transform: translateY(30%);
}


.text-highlight::before {
    content: '';
    z-index: -1;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    transform: translateX(-101%);
    border-radius: 3px;

    background: var(--accent-green-two);
    transition: transform 0.5s;
}

.text-highlight:hover::before {    
    transform: translateX(0%);
}

.text-highlight.mid::before {
    content: '';
    z-index: -1;
    height: 100%;
    width: 0%;

    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;

    border-radius: 3px;

    background: var(--accent-green-two);

    transition: width 0.5s;
    transform: translateX(-50%);
}

.text-highlight.mid:hover::before {    
    width: 100%;
}

@keyframes top-enter {
    from {
        margin-top: 500%;
    }

    to {
        margin-top: 0px;
    }
}

@keyframes bottom-enter {
    from {
        margin-bottom: 500%;
    }

    to {
        margin-bottom: 0px;
    }
}

.section-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;

    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    background: none;
}

.page-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.page-container.bottom {
    animation-name: bottom-enter;
    animation-duration: 0.8s;
}

.page-container.top {
    animation-name: top-enter;
    animation-duration: 0.8s;
}

.background-layer {
    display: inline-block;
    position: absolute;
    object-fit: fill;
    object-position: center;
    height: 100%;
}

.scrollbar::-webkit-scrollbar {
    width: 4px;
    background: var(--scrollbar-bg);
}

.scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

.scrollbar::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

@media only screen and (min-width: 960px) {
    #view-container {    
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
}


