#view-container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    /*z-index: 1;*/

    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-family: var(--font-family);
}

#sections-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    
    /*
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    */
   position: relative;

    display: block;
    margin: 0;
    padding: 0;
}

.effect-container {
    box-sizing: border-box;
    display: inline-block;
    width: max-content; 
    height: max-content;

    margin: 0;
    padding: 0;
}

.section-header {
    display: block;
    
    padding: 0;
    margin: 0;

    position: relative;
    font-size: var(--section-header-size);
    line-height: var(--section-header-line-height);
    
    border-style: none;
    color: var(--section-header-fg);
}

.section-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 25%;

    width: 50%;
    height: max-content;

    background: none;
    border-style: none none solid none;
    border-width: 3px;
    border-color: black;
}

.section-subheader {
    box-sizing: border-box;
    max-width: 1000px;
    width: 100%;
    height: max-content;

    padding: 0 0.5rem;
    margin: 0;
    overflow-wrap: break-word;
    text-align: center;
    
    font-size: var(--section-subheader-size);
    line-height: var(--section-subheader-line-height);
}

.btn {
    box-sizing: border-box;
    display: inline-block;

    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1.3em;
    font-variant: small-caps;

    outline: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;

    color: var(--btn-fg);
    background: var(--btn-bg);
    border-color: var(--btn-border);

    transition: background 0.4s;
}

.btn:hover {
    color: var(--btn-hover-fg);
    background: var(--btn-hover-bg);
}

@keyframes top-enter {
    from {
        margin-top: 500%;
    }

    to {
        margin-top: 0px;
    }
}

@keyframes bottom-enter {
    from {
        margin-bottom: 500%;
    }

    to {
        margin-bottom: 0px;
    }
}

.section-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;

    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    background: none;
}

.page-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.page-container.bottom {
    animation-name: bottom-enter;
    animation-duration: 0.8s;
}

.page-container.top {
    animation-name: top-enter;
    animation-duration: 0.8s;
}



.background-layer {
    display: inline-block;
    position: absolute;
    object-fit: fill;
    object-position: center;
    height: 100%;
}

.scrollbar::-webkit-scrollbar {
    width: 2px;
    background: var(--scrollbar-bg);
}

.scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

.scrollbar::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

@media only screen and (min-width: 960px) {
    #view-container {    
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
}


