/* 300px - 1000px*/
/* 300px - 1000px*/
/* 300px - 1000px*/
/* 300px - 1000px*/
.text-highlight, .text-highlight.mid {
  box-sizing: border-box;
  display: inline-block;
  width: max-content;
  height: auto;
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding: 0 0.25rem;
  margin: 0;
  border-style: none;
  font-style: italic;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #58D9FA;
  cursor: pointer;
  background: transparent;
  transform: translateY(30%);
}
.text-highlight::before, .text-highlight.mid::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateX(-101%);
  border-radius: 3px;
  transition: transform 0.5s;
}
.text-highlight:hover::before {
  transform: translateX(0%);
}

.text-highlight.mid {
  height: 100%;
  width: 0;
  left: 50%;
  transition: width 0.5s;
  transform: translateX(-50%);
}
.text-highlight.mid:hover::before {
  width: 100%;
}

.section-header::after, .section-header::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px;
  height: 2px;
}

.section-header {
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  width: max-content;
  height: max-content;
  margin: 2rem 0;
  position: relative;
  font-size: calc(1.6em + (2.2 - 1.6) * ((100vw - 18.75em) / (62.5 - 18.75)));
  line-height: calc(1.4em + (2.2 - 1.4) * ((100vw - 18.75em) / (62.5 - 18.75)));
  border-style: none;
}
.section-header::before {
  left: 0;
  transform: translate(-140%, -50%);
}
.section-header::after {
  right: 0;
  transform: translate(140%, -50%);
}

.section-subheader {
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
  height: max-content;
  padding: 0 0.5rem;
  margin: 0;
  overflow-wrap: break-word;
  text-align: center;
  font-size: calc(1em + (1.3 - 1) * ((100vw - 18.75em) / (62.5 - 18.75)));
  line-height: calc(1.1em + (1.5 - 1.1) * ((100vw - 18.75em) / (62.5 - 18.75)));
}

.btn, .btn.slide-in {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1.3em;
  font-variant: small-caps;
  text-decoration: none;
  outline: none;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background 0.4s;
}

.btn.slide-in {
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: all 0.5s;
}
.btn.slide-in:hover {
  background: initial;
}

#view-container {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
}

#sections-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.effect-container {
  box-sizing: border-box;
  display: inline-block;
  width: max-content;
  height: max-content;
  margin: 0;
  padding: 0.5rem 2rem;
}

.btn {
  color: #d0e1f9;
  background: inherit;
  border-color: #8EA6FC;
}
.btn:hover {
  color: #25282E;
  background: #8EA6FC;
  border-color: #8EA6FC;
}

.btn.slide-in::before {
  content: "";
}
.btn.slide-in::before, .btn.slide-in::after {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.5s;
}
.btn.slide-in::after {
  z-index: -2;
  opacity: 1;
}
.btn.slide-in::before {
  color: initial;
  background: #8EA6FC;
  border-color: initial;
}

.btn.slide-in.fall {
  background: none;
  color: #58D9FA;
  background: none;
  border-color: #25282E;
}
.btn.slide-in.fall::before {
  content: "";
}
.btn.slide-in.fall::after {
  content: "";
}
.btn.slide-in.fall::before, .btn.slide-in.fall::after {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.5s;
}
.btn.slide-in.fall::after {
  z-index: -2;
  opacity: 1;
}
.btn.slide-in.fall::before {
  color: none;
  background: inherit;
  border-color: #25282E;
  transform-origin: left bottom;
  transform: rotateZ(-180deg);
  transition: transform 1s;
}
.btn.slide-in.fall::after {
  color: #58D9FA;
  background: #25282E;
  border-color: #25282E;
}
.btn.slide-in.fall:hover {
  color: #25282E;
}
.btn.slide-in.fall:hover::before {
  transform: rotateZ(0deg);
  transition: transform 0.5s;
}

/*halved effect*/
.btn.slide-in.halved::before {
  content: "";
}
.btn.slide-in.halved::after {
  content: "";
}
.btn.slide-in.halved::before, .btn.slide-in.halved::after {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.5s;
}
.btn.slide-in.halved::after {
  z-index: -2;
  opacity: 1;
}
.btn.slide-in.halved::before, .btn.slide-in.halved::after {
  color: initial;
  background: #8EA6FC;
  border-color: initial;
  height: 50%;
}
.btn.slide-in.halved::before {
  transform: translateX(-101%);
}
.btn.slide-in.halved::after {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateX(101%);
}
.btn.slide-in.halved:hover::before, .btn.slide-in.halved:hover::after {
  transform: translateX(0%);
}

/*halved effect*/
/*top-to-bottom effect*/
.btn.slide-in.top-to-bottom {
  background: none;
  transition: all 0.5s;
}
.btn.slide-in.top-to-bottom::before {
  content: "";
}
.btn.slide-in.top-to-bottom::after {
  content: "";
}
.btn.slide-in.top-to-bottom::before, .btn.slide-in.top-to-bottom::after {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.5s;
}
.btn.slide-in.top-to-bottom::after {
  z-index: -2;
  opacity: 1;
}
.btn.slide-in.top-to-bottom::before, .btn.slide-in.top-to-bottom::after {
  color: initial;
  background: #8EA6FC;
  border-color: initial;
}
.btn.slide-in.top-to-bottom::before {
  transform: translateY(-101%);
}
.btn.slide-in.top-to-bottom::after {
  opacity: 0;
  transform: translateY(101%);
  transition: opacity 0.25s 0.5s;
}
.btn.slide-in.top-to-bottom:hover {
  background: none;
}
.btn.slide-in.top-to-bottom:hover::before {
  transition: opacity 0.25s 0.5s;
  transform: translateY(101%);
}
.btn.slide-in.top-to-bottom:hover::after {
  opacity: 1;
  transition: opacity 0.25s 0.5s;
}

/*top-to-bottom effect*/
/*smush-mid effect */
.btn.slide-in.smush-mid {
  background: transparent;
  transition: all 0.6s;
}
.btn.slide-in.smush-mid::before {
  content: "";
}
.btn.slide-in.smush-mid::after {
  content: "";
}
.btn.slide-in.smush-mid::before, .btn.slide-in.smush-mid::after {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.5s;
}
.btn.slide-in.smush-mid::after {
  z-index: -2;
  opacity: 1;
}
.btn.slide-in.smush-mid::before, .btn.slide-in.smush-mid::after {
  color: initial;
  background: #8EA6FC;
  border-color: initial;
  transition: transform 0.6s;
}
.btn.slide-in.smush-mid::before {
  transform: translateX(-101%);
}
.btn.slide-in.smush-mid::after {
  transform: translateX(101%);
}
.btn.slide-in.smush-mid:hover::before, .btn.slide-in.smush-mid:hover::after {
  transform: translateX(0%);
}

/*smush-mid effect */
/*middle expand effect*/
.btn.slide-in.mid-expand::before {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0, 0);
  transition: all 1s, color 0s;
}
.btn.slide-in.mid-expand:hover::before {
  transform: translate(-50%, -50%) scale(2.5, 2);
}

/*middle expand effect*/
/*ltr effect*/
.btn.slide-in.ltr {
  transition: all 0.5s;
}
.btn.slide-in.ltr::before {
  transition: transform 0.5s;
  transform: translateX(-101%);
}
.btn.slide-in.ltr:hover {
  background: transparent;
}
.btn.slide-in.ltr:hover::before {
  transform: translateX(0%);
}

/*ltr effect*/
/*ltr-full effect*/
.btn.slide-in.ltr-full {
  background: transparent;
  transition: all 0.75s;
}
.btn.slide-in.ltr-full::before {
  content: "";
}
.btn.slide-in.ltr-full::after {
  content: "";
}
.btn.slide-in.ltr-full::before, .btn.slide-in.ltr-full::after {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.5s;
}
.btn.slide-in.ltr-full::after {
  z-index: -2;
  opacity: 1;
}
.btn.slide-in.ltr-full::before, .btn.slide-in.ltr-full::after {
  color: initial;
  background: #8EA6FC;
  border-color: initial;
  transition: transform 1s;
  width: 50%;
}
.btn.slide-in.ltr-full::before {
  transform: translateX(-201%);
}
.btn.slide-in.ltr-full::after {
  transform: translateX(201%);
}
.btn.slide-in.ltr-full:hover {
  background: transparent;
}
.btn.slide-in.ltr-full:hover::before, .btn.slide-in.ltr-full:hover::after {
  width: 50%;
}
.btn.slide-in.ltr-full:hover::before {
  transform: translateX(201%);
}
.btn.slide-in.ltr-full:hover::after {
  transform: translateX(-201%);
}

/*ltr-full effect*/
.text-highlight {
  color: #25282E;
}
.text-highlight::before {
  background: #58D9FA;
}

@keyframes top-enter {
  from {
    margin-top: 500%;
  }
  to {
    margin-top: 0px;
  }
}
@keyframes bottom-enter {
  from {
    margin-bottom: 500%;
  }
  to {
    margin-bottom: 0px;
  }
}
.section-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: none;
}

.page-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.page-container.bottom {
  animation-name: bottom-enter;
  animation-duration: 0.8s;
}

.page-container.top {
  animation-name: top-enter;
  animation-duration: 0.8s;
}

.background-layer {
  display: inline-block;
  position: absolute;
  object-fit: fill;
  object-position: center;
  height: 100%;
}

.scrollbar::-webkit-scrollbar {
  width: 0.75rem;
  background: #25282E;
}
.scrollbar::-webkit-scrollbar-track {
  background: #25282E;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #d0e1f9;
}

.scrollbar.secondary::-webkit-scrollbar {
  width: 4px;
}

@media only screen and (min-width: 960px) {
  #view-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=view.css.map */
