:root {
  --main: #EBF1EF;
  --accent-blue: #3090B6;
  --accent-blue-light: #05C0FA;
  --dark-blue: #13202C;
  
  --main-dark: #1E1E1E;
  
  --accent-dark: #0C1A28;
  --accent-green: #00FFBC;

  --filter-green: invert(0.5) sepia(1) saturate(500%) hue-rotate(110deg);
  --filter-blue: invert(0.5) sepia(1) saturate(500%) hue-rotate(150deg);
  --filter-blue-light: invert(0.5) sepia(1) saturate(500%) hue-rotate(150deg);

  /*GENERAL*/
--font-family: 'Courier New', Courier, monospace;
--large-font: calc(1.6em + (3 - 1.6) * ((100vw - 21em) / (75 - 21)));
--medium-font: calc(1.2em + (2 - 1.2) * ((100vw - 21em) / (75 - 21)));
/*GENERAL*/

--app-bg: var(--dark-blue);

/*NAVBAR*/
--navbar-bg: var(--main-dark);
--navbar-text: white;
--navbar-border: none;
--navbar-item-hover: inherit;
--navbar-item-hover-filter: invert(1);
--navbar-icon-filter: invert(1);
--navbar-icon-filter-hover: var(--filter-blue);
/*NAVBAR*/

/*MENU*/
--menu-nav-bg: var(--main-dark);
--menu-main-bg: linear-gradient(45deg, rgba(12, 26, 40, 0.65), rgba(37, 116, 148, 1) );
--menu-main-fg: black;
--menu-footer-bg: var(--main-dark);
/*MENU*/


/*PAGES*/
--section-container-bg: none;
--section-container-alt-bg: linear-gradient(45deg, var(--dark-blue), var(--accent-blue));

--home-text-fg: var(--main);
/*PAGES*/

/*EXPERIMENTS*/

/*EXPERIMENTS*/


/*AUTOTEXT*/
--auto-text-highlight: var(--accent-blue);
/*AUTOTEXT*/

}