:root {
  --main: #EBF1EF;
  --accent-blue: #3090B6;
  --accent-blue-light: #05C0FA;
  
  --dark-blue: #13202C;
  --light-blue: #394855;

  
  --main-dark: #1E1E1E;
  --accent-dark: #0C1A28;
  --accent-green: #00FFBC;
  --accent-green-two: #03DAC6;

  --filter-green: invert(0.5) sepia(1) saturate(500%) hue-rotate(110deg);
  --filter-blue: invert(0.5) sepia(1) saturate(500%) hue-rotate(150deg);
  --filter-blue-light: invert(0.5) sepia(1) saturate(500%) hue-rotate(150deg);

  /*GENERAL*/
--font-family: 'Courier New', Courier, monospace;
--large-font: calc(1.6em + (3 - 1.6) * ((100vw - 21em) / (75 - 21)));
--medium-font: calc(1.2em + (2 - 1.2) * ((100vw - 21em) / (75 - 21)));

--app-bg: var(--dark-blue);

--section-header-size: var(--large-font);
--section-header-fg: black;

--btn-bg: inherit;
--btn-fg: var(--main);
--btn-border: var(--accent-green-two);
--btn-hover-bg: var(--accent-green-two);
--btn-hover-fg: black;
/*GENERAL*/

/*
--portfolio-green: #03DAC6;
    --portfolio-blue: var(--light-blue);

    --project-btn-bg: inherit;
    --project-btn-fg: var(--main);
    --project-btn-border: var(--portfolio-green);
    --project-btn-hover-bg: var(--portfolio-green);
    --project-btn-hover-fg: black;
    */

/*NAVBAR*/
--navbar-bg: var(--main-dark);
--navbar-text: white;
--navbar-border: none;
--navbar-item-hover: inherit;
--navbar-item-hover-filter: invert(1);
--navbar-icon-filter: invert(1);
--navbar-icon-filter-hover: var(--filter-blue);
/*NAVBAR*/

/*MENU*/
--menu-nav-bg: var(--main-dark);
--menu-main-bg: linear-gradient(45deg, rgba(12, 26, 40, 0.65), rgba(37, 116, 148, 1) );
--menu-main-fg: black;
--menu-footer-bg: var(--main-dark);
/*MENU*/


/*PAGES*/
--section-container-bg: none;
--section-container-alt-bg: linear-gradient(45deg, var(--dark-blue), var(--accent-blue));

/*PAGES*/

/*HOMEPAGE*/
--home-text-fg: var(--main);
--home-effect-size: var(--medium-font);

--home-about-btn-fg: white;
--home-about-btn-bg: none;
--home-about-btn-border: white;
--home-about-btn-hover-fg: black;
--home-about-btn-hover-bg: white;
--home-about-btn-hover-border: black;

/*HOMEPAGE*/


/*PORTFOLIO PAGE*/
--portfolio-page-bg: var(--main);
--portfolio-header-size: var(--large-font);
/*PORTFOLIO PAGE*/


/*EXPERIMENTS PAGE*/
--experiments-page-bg: var(--light-blue);
--experiments-header-size: var(--large-font);
--experiments-desc-size: var(--medium-font);
/*EXPERIMENTS PAGE*/


/*CONTACT PAGE*/
--contact-page-bg: var(--accent-blue);
--contact-desc-fg: white;
--contact-desc-size: var(--medium-font);

--contact-section-bg: var(--light-blue);
--contact-section-fg: white;

--about-section-bg: white;
--about-section-fg: black;

--contact-bg-layer-font-family: 'Archivo Black', sans-serif;

/*CONTACT PAGE*/


/*AUTOTEXT*/
--auto-text-highlight: var(--accent-blue);
--auto-text-font-size: var(--medium-font);
--auto-text-fg: var(--accent-blue);
--auto-text-cursor-size: 1.3em;
--auto-text-line-height: 1.5em;
/*AUTOTEXT*/

}