:root {
    --accent-cyan: #58D9FA;
    --main-dark: #25282E;
    --main: #2C3037;

    --secondary: #FFFFFF;

    /*GENERAL*/
  --font-style: monospace;
  /*GENERAL*/


  /*INPUTFIELD*/
  --inputfield-fg: var(--secondary);
  --form-bg: green;
  --form-shadow: blue;
  --form-border: black;
  --inputfield-border: black;
  /*INPUTFIELD*/
}