$darkest: #25282E;
$dark-main: #2C3037;
$dark-mid: #363A40;
$light-mid: #82E5FC;
$light-main: #58D9FA;
$lightest: #d0e1f9; 
$white: #EFFFFF;

$accent: #8EA6FC;
$accent-green: #03DAC6;

$fade: linear-gradient(45deg, $dark-mid, $darkest);