$darkest: #25282E;
$dark-main: #2C3037;
$dark-mid: #363A40;
$light-mid: #82E5FC;
$light-main: #58D9FA;
$lightest: #d0e1f9; 
$white: #EFFFFF;

$accent: #8EA6FC;
$accent-light: #BAC9FE;
$accent-dark: #6887F8;

$accent-green: #00FFC6;

$fade: linear-gradient(45deg, $dark-mid, $darkest);
$darkest-fade: rgba(37, 40, 46, 0.6);
$dark-fade: linear-gradient(135deg, $darkest, $darkest, black);
$lightest-fade: rgba(208, 225, 249, 0.842); 