$font-family: 'Courier New', Courier, monospace;

//homepage name - the sizes scale in the  homepage css file
$home-name-font: 2em;
$home-name-font-line-height: 1.8em; // calc(1.8em + (2.7 - 1.8) * ((100vw - 18.75em) / (62.5 - 18.75)));
$home-title-font: 1.5em;
$home-title-font-light-height: 1.3em; // calc(1.3em + (1.9 - 1.3) * ((100vw - 18.75em) / (62.5 - 18.75)));

//$home-name-font: calc(1.8em + (2.3 - 1.8) * ((100vw - 18.75em) / (62.5 - 18.75))); /* 300px - 1000px*/

//$home-title-font: calc(1.3em + (1.9 - 1.3) * ((100vw - 18.75em) / (62.5 - 18.75)));

//homepage name
$xlarge-font: calc(1.8em + (2.3 - 1.8) * ((100vw - 18.75em) / (62.5 - 18.75))); /* 300px - 1000px*/
$xlarge-font-line-height: calc(1.8em + (2.7 - 1.8) * ((100vw - 18.75em) / (62.5 - 18.75)));

//section header
$large-font: calc(1.6em + (2.2 - 1.6) * ((100vw - 18.75em) / (62.5 - 18.75))); /* 300px - 1000px*/
$large-font-line-height: calc(1.4em + (2.2 - 1.4) * ((100vw - 18.75em) / (62.5 - 18.75)));

//effect (distort text)
$medium-font: calc(1.3em + (1.9 - 1.3) * ((100vw - 18.75em) / (62.5 - 18.75))); /* 300px - 1000px*/
$medium-font-line-height: calc(1.3em + (1.9 - 1.3) * ((100vw - 18.75em) / (62.5 - 18.75)));

//section subheader
$small-font: calc(1em + (1.3 - 1) * ((100vw - 18.75em) / (62.5 - 18.75))); /* 300px - 1000px*/
$small-font-line-height: calc(1.1em + (1.5 - 1.1) * ((100vw - 18.75em) / (62.5 - 18.75)));

