@mixin pos($pos, $top, $left, $bottom, $right) {
    position: $pos;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
}

@mixin color($fg, $bg, $border) {
    color: $fg;
    background: $bg;
    border-color: $border;
}

@mixin svg-color($stroke, $stroke-width, $fill) {
    stroke: $stroke;
    stroke-width: $stroke-width;
    fill: $fill;
}