

//media queries for the homepage
@mixin homepageMediaQuery($minWidth, $containerSize, $font-scale) {
    @media only screen and (min-width: $minWidth) {
        #home-container {
            max-width: $containerSize;
            min-height: $containerSize;
    
            #home-background-img {
                svg {
                    width: $containerSize;
                }
            }
        }
    
        span[id='name'] {
            font-size: $name-font-size * $font-scale;

            @if($minWidth >= 1000px) {
                margin-left: 2.5rem;
            }
        }
        
        #homepage-effect {
            font-size: $effect-font-size * $font-scale;
        }
    }
}

@mixin portfolioMediaQuery($minWidth, $newQuery) {
                               
    @media only screen and (min-width: $minWidth) {
        .portfolio-project-container {
            width: map-get($newQuery, project-width);
            height: map-get($newQuery, project-height);
            margin: map-get($newQuery, project-container-margin);

            .portfolio-project-name {
                font-size: map-get($newQuery, project-header-size);
            }

            .portfolio-project-tech {
                font-size: map-get($newQuery, project-tech-size);
            }

            #learn-more {
                font-size: map-get($newQuery, project-btn-size);
            }
        }
    }
} 

@mixin projectViewMediaQuery($minWidth, $query) {
    @media only screen and (min-width: $minWidth) {
        @if $minWidth == 700px {
            #portfolio-fullview-container {
                max-width: map-get($query, fullview-container-width);
            }
        }
    
        @else if $minWidth == 850px {
            #portfolio-fullview-container {
                max-width: map-get($query, fullview-container-width);
                max-height: map-get($query, fullview-container-height);
                width: map-get($query, fullview-container-width);
                height: map-get($query, fullview-container-height);
            }
    
            #portfolio-fullview {
                height: map-get($query, fullview-height);
                justify-content: map-get($query, fullview-flex-main-axis);
                border-radius: 0;
            }
        }
    
        .project-img {
            width: map-get($query, img-width);
            height: map-get($query, img-height);
        }
    
        .project-img-arrow {
            width: map-get($query, arrow-width);
            height: map-get($query, arrow-height);
        }
    
        #project-info-container {
            width: map-get($query, info-container-width);
        }
    
        #project-name-header {
            font-size: map-get($query, name-font-size);
        }
    
        #project-type-header {
            font-size: map-get($query, type-font-size);
        }
    
        .project-description {
            font-size: map-get($query, description-font-size);
        }
    }
}

@mixin experimentsMediaQuery($minWidth, $query) {
    @media only screen and (min-width: $minWidth) {
        .single-experiment-container {
            max-width: map-get($query, container-max-width);
            height: map-get($query, container-height);

            .experiment-description {
                font-size: map-get($query, description-size);
            }
        }
    }
}

@mixin aboutMeMediaQuery($minWidth, $btn-font-size) {
    @media only screen and (min-width: $minWidth) {
        #about-me-section {
            #resume-link {
                button {
                    font-size: $btn-font-size;
                }
            }
        }
    }
}

@mixin progressbarMediaQuery($minWidth, $desc-size, $wrapper-size, $skill-size, $img-container-size, $icon-width) {

    @media only screen and (min-width: $minWidth) {
        .all-progress-bars-container {
            .progressbar-section-description {
                font-size: $desc-size;
            }
        }
    
        .progress-bar-wrapper {
            width: $wrapper-size;
            height: $wrapper-size;
        }
    
        .progress-bar-text {
            font-size: $skill-size;
        }
            
        
        .progress-bar-img-container {
            width: $img-container-size;
        
            .progress-bar-img {
                display: inline-block;
                
                max-height: $icon-width;
                height: auto;
            }
        }
    }
}

@mixin contactMediaQuery($minWidth, $desc-size, $icon-size) {
    @media only screen and (min-width: $minWidth) {
        #contact-social-links {
            .contact-link {
                img {
                    width: $icon-size;
                }
            }
        }

        #contact-description {
            span {
                font-size: $desc-size;
            }
        }
    }
}

@mixin contactFormMediaQuery($minWidth, $query) {
    @media only screen and (min-width: $minWidth) {
        .form-container {
            max-width: map-get($query, form-max-width);
    
            legend {
                font-size: map-get($query, legend-size);
            }
    
            .contact-inputfield, #contact-message {
                font-size: map-get($query, input-size);
            }
    
            #contact-message {
                min-height: map-get($query, msg-min-height);
            }
    
            #contact-submit {
                font-size: map-get($query, btn-size);
            }
        }
    }
}

@mixin navbarMediaQuery($minWidth, $menu-btn-size, $menu-item-size, $item-description-font-size,
                        $total-menu-items, $menu-items, $menu-item-transform-offset,
                        $menu-icon-height, $menu-icon-spacing) {

    @media only screen and (min-width: $minWidth) {
        #gooey-menu-container {
            width: $menu-btn-size;
            height: $menu-btn-size;
            bottom: -$menu-btn-size - 10px;
        }

        .menu-open {
            &:checked {
                @for $i from 1 through $total-menu-items {
                    ~ ##{ map-get( nth($menu-items, $i), id)} {
                        @include itemTransform(0, ($menu-item-transform-offset * $i), 0, 0deg);
                    }
                }
            }

            &:not(:checked):hover {
                ~.menu-open-button {
                    #hamburger1 {
                        transform: translate3d(0, -$menu-icon-spacing * 1.5, 0);
                    }
        
                    #hamburger3 {
                        transform: translate3d(0, $menu-icon-spacing * 1.5, 0);
                    }
                }
            }
        }

        .menu-open-button {
            width: $menu-btn-size;
            height: $menu-btn-size;

            .hamburger {
                width: $menu-btn-size * 0.5; //$menu-icon-width;
                height: $menu-icon-height;
            }

            #hamburger1 {
                transform: translate3d(0, -$menu-icon-spacing, 0);
            }

            #hamburger3 {
                transform: translate3d(0, $menu-icon-spacing, 0);
            }
        }

        .menu-item {
            width: $menu-item-size;
            height: $menu-item-size;

            .menu-item-description {
                font-size: $item-description-font-size;
            }
        }
        
    }
}


//general media queries
@mixin headerMediaQuery($minWidth, $font-size, $line-height) {
    @media only screen and (min-width: $minWidth) {
        .section-header {
            font-size: $font-size;
            line-height: $line-height;
        }
    }   
}

@mixin pageDescriptionMediaQuery($minWidth, $font-size, $line-height) {
    @media only screen and (min-width: $minWidth) {
        .section-description {
            font-size: $font-size;
            line-height: $line-height;
        }
    }
}
