
//media queries for the homepage
@mixin homepageMediaQuery($minWidth, $containerSize, $font-scale) {
    @media only screen and (min-width: $minWidth) {
        #home-container {
            max-width: $containerSize;
            min-height: $containerSize;
    
            #home-background-img {
                svg {
                    width: $containerSize;
                }
            }
        }
    
        span[id='name'] {
            font-size: $name-font-size * $font-scale;

            @if($minWidth >= 1000px) {
                margin-left: 2.5rem;
                margin-bottom: 1rem;
            }
        }
        
        #homepage-effect {
            font-size: $effect-font-size * $font-scale;
        }
    }
}

@mixin progressbarMediaQuery($minWidth, $desc-size, $wrapper-size, $skill-size, $img-container-size, $icon-width) {

    @media only screen and (min-width: $minWidth) {
        .all-progress-bars-container {
            .progressbar-section-description {
                font-size: $desc-size;
            }
        }
    
        .progress-bar-wrapper {
            width: $wrapper-size;
            height: $wrapper-size;
        }
    
        .progress-bar-text {
            font-size: $skill-size;
        }
            
        
        .progress-bar-img-container {
            width: $img-container-size;
        
            .progress-bar-img {
                display: inline-block;
                
                max-height: $icon-width;
                height: auto;
            }
        }
    }
}