/*@import "https://fonts.googleapis.com/css?family=Open+Sans|Spectral:500";
$header-font-family: 'Spectral', serif;
$secondary-font-family: 'Open Sans', sans-serif;
*/

/*
@import 'https://fonts.googleapis.com/css?family=Montserrat|Space+Mono';
$header-font-family: 'Space Mono', monospace;
$secondary-font-family: 'Montserrat', sans-serif;
*/

@import "https://fonts.googleapis.com/css?family=Rubik:300|Space+Mono";
$header-font-family: 'Space Mono', monospace;

$secondary-font-family: 'Rubik', sans-serif;

$line-height: 150%;
//Recommended Font Sizes: 8, 16, 24, 32, 48, 64, 95